/* 전체영역 */
#wrap{
    width: 1370px;
    height: 93vh;
    position: absolute;
    top: 60px;
    left: 525px;
}

/* 헤더영역 */
#projectName{
    margin-top: 40px;
    margin-left: 40px;
}

#projectName>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

/* 내용영역 */
#back{
    display: grid;
    grid-template-rows: 380px 80px 300px;
    width: 1310px;
    margin-left: 40px;
    margin-top: 50px;
}

#back>div:first-child{
    display: grid;
    grid-template-columns: 880px 430px;
}

#back>div:first-child>div, #back>div:nth-child(2),
#back>div:nth-child(3)>div{
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 7px;
}

#back>div:first-child>div:nth-child(2){
    margin-left: 30px;
}

#back>div:nth-child(2){
    margin-top: 20px;
}

#back>div:nth-child(3){
    display: grid;
    grid-template-columns: 655px 655px;
}

#back>div:nth-child(3)>div{
    margin-top: 20px;
}

#back>div:nth-child(3)>div:nth-child(2){
    margin-left: 30px;
}

/* Todo */
#back #todo{
    display: grid;
    grid-template-rows: 1.2fr 8fr;
}

#back #todo>div:first-child{
    background-color: #4876EF;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#back #todo>div:first-child{
    display: flex;
    align-items: center;
}

#back #todo>div:first-child>a{
    margin-left: 25px;
    font-size: 22px;
    font-weight: 600;
}

#back>div:first-child>div:first-child>div:nth-child(2){
    width: 800px;
    height: 280px;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#back>div:nth-child(2)>form>input[name='content']{
    width: 1000px;
    height: 45px;
    border: none;
    margin-left: 10px;
    margin-bottom: 30px;
}

#back>div:nth-child(2)>form>input[type='submit']{
    border: none;
    width: 45px;
    height: 32px;
    background-color: #00CBA4;
    border-radius: 5px;
    margin-left: 230px;
    margin-top: 12px;
    color: white;
    font-size: 26px;
    font-weight: 300;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: #b7b7b7;
}

#back>div:first-child>div:first-child>div:nth-child(2)>div:first-child{
    border-right: 1px solid #D4D4D4;
}

#back #todo>div:nth-child(2)>div{
    display: flex;
    justify-content: center;
}

#back #todo input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

#back #todo #todoList{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#back #todo #todoList div{
    display: flex;
    align-items: center;
}

#back #todo #todoList button{
    border: none;
    background: none;
}

#back #todo #todoList div{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

#back #todo #todoList button{
    margin-right: 30px;
}

#back #todo #prjProgress>div:first-child{
    width: 170px;
    height: 40px;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
}

#back #todo #prjProgress{
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 200px;
    color: #646464;
}

#back #todo #prjProgress>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

#back #todo #prjProgress>div:first-child{
    margin-left: 80px;
    margin-top: 10px;
}

#back #todo #prjProgress>div:nth-child(2){
    width: 300px;
    height: 40px;
    margin-left: 30px;
    margin-top: 60px;
}


#back .community>.noticeArea{
    display: grid;
    grid-template-rows: 1.5fr 4fr;
    height: 280px;
}

#back .community>.suggestionArea{
    display: grid;
    grid-template-rows: 1.5fr 4fr
}

#back .community>.noticeArea>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#back .community>.suggestionArea>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#back .community>.noticeArea>div:first-child>a{
    font-size: 17px;
    font-weight: 600;
    margin-right: 450px;
}

#back .community>.suggestionArea>div:first-child>a{
    font-size: 17px;
    font-weight: 600;
    margin-right: 450px;
}

#back .community>.noticeArea button{
    border: none;
    background-color: #00BEEA;
    width: 30px;
    height: 24px;
    border-radius: 5px;
}

#back .community>.suggestionArea button{
    border: none;
    background-color: #A574EE;
    width: 30px;
    height: 24px;
    border-radius: 5px;
}

#back .community>.noticeArea button>svg, #back .community>.suggestionArea button>svg{
    margin-bottom: 2px;
    margin-left: 2px;
}

#back .community .noticeArea table tbody td, #back .community .suggestionArea table tbody td{
    text-align: center;
    vertical-align: middle;
}

#back .community .noticeArea table tbody tr td:first-child, #back .community .noticeArea table tbody tr td:nth-child(4),
#back .community .suggestionArea table tbody tr td:first-child, #back .community .suggestionArea table tbody tr td:nth-child(4){
    color: #b3b3b3;
}

/* 진행도 progress */
#prjProgress>.progress>.progress-bar{
    height: 40px;
    background-color: #00CBA4;
}

/* 풀캘린더 설정 */
.fc-day-sun a {
    color: red;
    text-decoration: none;
}
  

.fc-day-sat a {
    color: blue;
    text-decoration: none;
}

/* 채팅창모달 */
.modal-dialog{
    position: absolute;
    top: 300px;
    left: 600px;
}

.modal-content{
    box-shadow: 0 -15px 0px #4876EF;
}

.modal .modal-body, .modal .modal-header{
    border: none;
}

.modal .modal-footer{
    height: 120px;
    display: grid;
    grid-template-columns: 50px 430px 50px;
    margin-bottom: 30px;
    align-items: start;
}

.modal{
    background-color: rgba(0, 0, 0, 0.138); /* 여기서 투명도를 조절합니다. 값은 0부터 1까지 설정 가능합니다. */
}

.modal .modal-footer>div:first-child{
    width: 50px;
    margin-left: 8px;
}

.modal .modal-footer>div:first-child svg{
    width: 14px;
    height: 14px;
}

.modal .modal-footer>div:nth-child(2){
    width: 400px;
}

.modal .modal-footer>div:nth-child(2)>textArea{
    height: 100px;
    width: 400px;
    border: none;
}

.modal .modal-footer>div:nth-child(2){
    margin-bottom: 20px;
}

.modal .modal-footer>div:nth-child(2)>input{
    height: 25px;
    width: 400px;
    border: none;
    margin-bottom: 10px;
}

.modal .modal-footer>div:nth-child(2)>textArea:focus{
    outline: none;
}

.modal .modal-footer>div:nth-child(2)>textArea::placeholder{
    font-size: 17px;
    color: #b3b3b3;
}

.modal .modal-footer>div:nth-child(2)>input[name='content']::placeholder{
    font-size: 17px;
}

.modal .modal-header{
    display: grid;
    grid-template-columns: 130px 350px 50px;
}

.modal .modal-header div{
    height: 30px;
    display: flex;
    align-items: center;
}

.modal .modal-header>div:nth-child(3){margin-right: 17px;}
.modal .modal-header>div:first-child{margin-left: 15px;}
.modal .modal-header>div:first-child>a{
    font-size: 18px;
    font-weight: 500;
}

.modal .modal-header>div:first-child>svg{
    margin-left: 8px;
}

.modal .modal-content .modal-body{
    overflow-y: scroll;
}

/* 채팅 */
#profile-area{
    display: flex;
    height: 40px;
    margin-top: 10px;
}

#profile-area a{
    margin-top: 14px;
    margin-left: 10px;
}

#toMsg{
    display: flex;
    justify-content: start;
    margin-left: 60px;
}

#toMsg>div{
    color: white;
    background-color: #4876EF;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#toMsg a{
    margin-left: 10px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

#fromMsg a{
    margin-right: 10px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

#toMsgText, #fromMsgText{
    display: flex;
    align-items: center;
    height: 40px;
}

#fromMsg{
    display: flex;
    justify-content: end;
    margin-right: 18px;
    margin-top: 10px;
}

#fromMsg>div{
    background-color: #00CBA4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chatProfile{
    border-radius: 70%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.addTodo{
	width: 100px;
	height: 200px;
}

/* 스크롤바 커스텀 */
.modal .modal-content .modal-body::-webkit-scrollbar {
    background-color: #fff;
    width: 1rem;
}
  
.modal .modal-content .modal-body::-webkit-scrollbar-track {
    background-color: #fff;
}
  
.modal .modal-content .modal-body::-webkit-scrollbar-thumb {
    height: 15%;
    background-color: #babac0;
  
    border-radius: 1rem;
    border: 4px solid #fff;
}