/* 전체영역 */
#wrap{
    width: 1370px;
    height: 93vh;
    position: absolute;
    top: 60px;
    left: 525px;
}

/* 헤더영역 */
#projectName{
    margin-top: 40px;
    margin-left: 40px;
}

#projectName>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

/* 내용영역 */
#back{
    display: grid;
    grid-template-rows: 380px 80px 300px;
    width: 1310px;
    margin-left: 40px;
    margin-top: 50px;
}

#back>div:first-child{
    display: grid;
    grid-template-columns: 880px 430px;
}

#back>div:first-child>div, #back>div:nth-child(2),
#back>div:nth-child(3)>div{
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 7px;
}

#back>div:first-child>div:nth-child(2){
    margin-left: 30px;
}

#back>div:nth-child(2){
    margin-top: 20px;
}

#back>div:nth-child(3){
    display: grid;
    grid-template-columns: 655px 655px;
}

#back>div:nth-child(3)>div{
    margin-top: 20px;
}

#back>div:nth-child(3)>div:nth-child(2){
    margin-left: 30px;
}

/* Todo */
#back #todo{
    display: grid;
    grid-template-rows: 1.2fr 8fr;
}

#back #todo>div:first-child{
    background-color: #4876EF;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#back #todo>div:first-child{
    display: flex;
    align-items: center;
}

#back #todo>div:first-child>a{
    margin-left: 25px;
    font-size: 22px;
    font-weight: 600;
}

#back>div:first-child>div:first-child>div:nth-child(2){
    width: 800px;
    height: 280px;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

#back>div:first-child>div:first-child>div:nth-child(2)>div:first-child{
    border-right: 1px solid #D4D4D4;
}

#back #todo>div:nth-child(2)>div{
    display: flex;
    justify-content: center;
}

#back #todo input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

#back #todo #todoList{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

#back #todo #todoList div{
    display: flex;
    align-items: center;
}

#back #todo #todoList button{
    border: none;
    background: none;
}

#back #todo #todoList div:first-child{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

#back #todo #todoList button{
    margin-right: 30px;
}

#back #todo #prjProgress>div:first-child{
    width: 170px;
    height: 40px;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
}

#back #todo #prjProgress{
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 200px;
    color: #646464;
}

#back #todo #prjProgress>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#back #todo #prjProgress>div:first-child{
    margin-left: 30px;
}
