#title{
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 80px;
}

.btn{
    display: block;
    margin: 20px auto;
}

#back{
    display: block;
    margin: 20px auto;
}


#table {
    border-collapse: collapse;
    border: 3px solid black;
    width: 80%;
    margin: 40px auto;
}

#table th,
#table td {
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}	