.main-wrap {
    width: 1920px;

	display: flex;
}

.wrap {
    width: 1650px;
    height: 100%;
    
    display: flex;
    align-items: flex-start;
}

.wrap-left {
    margin-top: 100px;

    width: 1250px;
    height: 100%;
}

.wrap-left-header {
    display: flex;
    align-items: center;
}

.category-title {
    width: 150px;
    height: 30px;    

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    font-weight: 700;
}

.category-list {
    width: 900px;

    display: flex;
    align-items: center;
}

.change-category-btn {
    width: 150px;
    height: 70px;
    margin: 0px 15px;

    border: 1px solid rgb(53, 54, 54);
    border-radius: 10px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(53, 54, 54);
    border-radius: 10px;

    font-size: 17;
    font-weight: 400;
    color: rgb(53, 54, 54);
}
.selected-category {
    color: rgb(255, 255, 255);
    background-color: rgb(81, 137, 250);
    border: 0px;
}

.upvote-btn { 
    width: 115px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 255, 255);

    background-color: rgb(81, 137, 250);
    border-radius: 5px;
}

.document-form {
    width: 1000px;
    height: 1250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin-left: 150px;
    margin-top: 50px;

    background-color: rgb(255, 255, 255);
}

.document-title {
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 55px;
    font-weight: 700;
}

.approval-line {
    margin-right: 30px;

    align-self: flex-end;
}

.vertical-cell {
    width: 22px;

    font-size: 14px;
    font-weight: 700;
    color: rgb(53, 54, 54);

    writing-mode: tb-rl;
    vertical-align: middle;

    background-color: rgb(229, 229, 229);

    border : 1px solid rgb(130, 130, 130);
}

.table-rank {
    width: 100px;
    height: 22px;

    font-size: 14px;
    font-weight: 700;
    color: rgb(53, 54, 54);

    background-color: rgb(229, 229, 229);
    border : 1px solid rgb(130, 130, 130);
}

.table-name {
    width: 100px;
    height: 22px;

    text-align: center;
    vertical-align: middle;

    border : 1px solid rgb(130, 130, 130);
}

.table-approval {
    width: 100px;
    height: 75px;

    text-align: center;
    vertical-align: middle;

    border : 1px solid rgb(130, 130, 130);
}

.table-date {
    width: 100px;
    height: 22px;

    text-align: center;
    vertical-align: middle;

    border : 1px solid rgb(130, 130, 130);
}

.info-inst {
    width: 940px;
    height: 180px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.approval-info {
    width: 395px;
    height: 160px;
}
.info-table {
    width: 395px;
    height: 160px;

    border : 1px solid rgb(130, 130, 130);
}
.info-header {
    width: 115px;
    height: 40px;

    font-size: 14px;
    font-weight: 700;

    text-align: center;
    vertical-align: middle;

    background-color: rgb(229, 229, 229);
    border : 1px solid rgb(130, 130, 130);
}
.info-text {
    width: 280px;
    height: 40px;
    padding-left: 10px;

    vertical-align: middle;

    border : 1px solid rgb(130, 130, 130);
}

.approval-inst {
    width: 385px;
    height: 150px;

    font-size: 14px;
    font-weight: 700;

    align-self: flex-end;
}
.inst-header {
    width: 385px;
    height: 40px;

    vertical-align: middle;

    background-color: rgb(229, 229, 229);
    border : 1px solid rgb(130, 130, 130);
}
.inst-text {
    width: 385px;
    height: 110px;

    text-align: center;
    vertical-align: middle;

    border : 1px solid rgb(130, 130, 130);
}

.main-text-table {
    width: 940px;

    align-self: center;
}

.table-title {
    width: 180px;
    height: 32px;

    font-size: 14px;
    font-weight: 700;

    text-align: center;
    vertical-align: middle;

    background-color: rgb(229, 229, 229);
    border : 1px solid rgb(130, 130, 130);
}
.title-input-cell {
    width: 760px;
    height: 32px;

    padding-left: 10px;

    vertical-align: middle;

    border : 1px solid rgb(130, 130, 130);
}
.title-input {
    width: 730px;
    height: 28px;

    font-size: 14px;
    font-weight: 400;

    border: 0px;
}

.table-main-area {
    width: 940px;

    border : 1px solid rgb(130, 130, 130);
}
.main-form1 {
     width: 940px;
     height: 30px;

    font-size: 14px;
    font-weight: 400;

     display: flex;
     justify-content: center;
     align-items: center;
}
.main-form2 {
    width: 940px;
    height: 50px;

    font-size: 14px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}
#approval-main-text {
    width: 900px;
    height: 500px;
    resize: none;

    margin-left: 20px;
    margin-bottom: 20px;

    border: 0px;
}

.wrap-right { 
    width: 380px;
    height: 805px;   

    margin-top: 100px;

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 40px;

    border: 2px solid rgb(81, 137, 250);
    border-radius: 10px;
}

.title-area { 
    width: 320px;
    height: 100px;

    align-self: center;
    
    display: flex;
    align-items: center;

    font-size: 20px;
    font-weight: 700;
    color: rgb(53, 54, 54);
}

.btn-area {
    width: 200px;
    height: 50px;

    align-self: flex-end;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-area > button {
    width: 80px;
    height: 30px;

    background-color: rgb(81, 137, 250);
    border: 0px;
    border-radius: 10px;

    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.preview-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.approver {
    width: 350px;
    height: 141px;

    margin: 10px  0px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid rgb(81, 137, 250);
    border-radius: 10px;
}
.selecte-approver {
    background-color: rgb(81, 137, 250);
}

.profile-area {
    width: 104px;
    height: 136px;
    
    display: flex;
    align-items: center;

    border-radius: 10px;
}
.profile-img {
	width: 102px;
    height: 134px;

    border-radius: 10px;
}

.info-area {
    width: 180px;
    height: 70px;
}

.approver-name-rank {
    width: 110px;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.approver-name {
    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.department {
    width: 178px;
    height: 62px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}


.modal-wrap {
    width: 100%;
    height: 175%;

    z-index: 1000;
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;

    background-color: rgba(25, 25, 25, 0.33);
}

.mini-addressbook-wrap {
    width: 1000px;
    height: 750px;

    position: relative;
    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F4F7FD;
}

.mini-header {
    width: 900px;
    height: 75px;

    line-height: 75px;

    font-size: 20px;
    font-weight: 700;
}

.mini-main {
    width: 1000px;

    display: flex;
    justify-content: space-evenly;
}

.mini-addressbook {
    width: 385px;
    height: 580px;

    border: 2px solid #4876EF;
    border-radius: 5px;
}

.searchbar {
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search-input-area {
    width: 310px;
    height: 38px;

    border: 1px solid #353636;
    border-radius: 30px;
}
.search-input {
    width: 310px;
    height: 38px;

    background-color: transparent;
    border: 0px;
    border-radius: 30px;
}
.search-input:focus {
    outline: none;
}


.extends-list { 
    height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);

    border: 0px;
    background-color: transparent;

    cursor: pointer;
}

.extend-btn-icon {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4876EF;

    border-radius: 5px;
    box-sizing: border-box;
}

.link-line {
    margin-left: 8px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}
.name-rank {
    width: 160px;
    height: 24px;

    display: flex;
    align-items: center;
    gap: 10px;
    
    cursor: pointer;
}
.user-no {
    display: none;
}
.user-name {
    width: 50px;

    font-size: 17px;
    font-weight: 700;
    color: rgb(53, 54, 54);
}
.user-rank {
    width: 100px;

    font-size: 15px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.list-box-area {
    margin-left: 45px;

    border-left: 1px solid rgb(53, 54, 54);
    box-sizing: border-box;

    display: none;
}
.list-box-area-extend {
    display: block;
}

.first-box {
    margin-left: 0px;
    border: 0px;
}

.layer {
    margin-left: 30px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.list-tree-area {
    width: 100%;
    height: 505px;

    overflow-y: scroll;
}
.list-tree-area::-webkit-scrollbar {
  display: none;
}

.preview {
    width: 550px;
    height: 580px;

    border: 2px solid #4876EF;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview-header {
    width: 500px;
    height: 75px;

    line-height: 75px;

    font-size: 17px;
    font-weight: 400;
}


.approver-memeber {
    width: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-mail {
    display: flex;
}
.approver-name {
    width: 85px;

    font-size: 14px;
    font-weight: 400;
    color: #353636;
}
.approver-mail {
    width: 200px;

    font-size: 14px;
    font-weight: 400;
    color: #353636;
}

.delete-btn {
    cursor: pointer;
}


.preview-list { 
    height: 450px;

    overflow-y: scroll;
}
.preview-list::-webkit-scrollbar {
    display: none;
  }

.add-approval {
    width: 150px;
    height: 45px;

    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 700;

    background-color: rgb(81, 137, 250);
    border: 0;
    border-radius: 10px;

    cursor: pointer;
}