/* 전체영역 */
#wrap{
    width: 1280px;
    height: 93vh;
    position: absolute;
    top: 65px;
    left: 255px;
}

/* 공지사항 */
#notice{
    margin-top: 40px;
    margin-left: 320px;
}

#notice>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

/* 내용영역 */
#back{
    width: 1290px;
    height: 700px;
    background-color: white;
    margin-left: 320px;
    margin-top: 30px;
    border: 1px solid #d7d7d7ba;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 80px 140px 60px 380px;
}

/* 내용영역 상단 */
#topArea{
    display: grid;
    grid-template-columns: 780px 510px;
}

#topArea>div{
    margin-top: 25px;
}

#topArea>div:first-child{
    margin-left: 30px;
}

#topArea>div:nth-child(2){
    margin-left: 5px;
}

#topArea>div:first-child>a{
    font-size: 18px;
    color: #4B4B4B;
}

#topArea>div:nth-child(2)>select{
    width: 200px;
    margin-right: 5px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    height: 30px;
}

#topArea>div:nth-child(2)>input[type="text"]{
    width: 250px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    height: 30px;
}

#topArea>div:nth-child(2)>input[type="submit"]{
    background-image: url("/zoody/resources/img/search.png");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border: 0px;   
    position: absolute;
    cursor:pointer;
    outline: 0;
    right: -300px;
    top: 123px;
}

#topArea>div:nth-child(2)>input[type="text"]::placeholder{
    color: #D7D7D7;
    font-size: 15px;
    font-weight: 300;
}

/* 알림영역 */
#alertArea{
    width: 1185px;
    height: 112px;
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 7px;
    box-shadow: 5px 0px #4876EF inset;
    display: grid;
    grid-template-rows: 45px 45px;
}

#alertArea>div:first-child, #alertArea>div:nth-child(2), #alertArea>div:nth-child(3){
    display: grid;
    grid-template-columns: 50px 500px;
}

#alertArea>div{
    margin-left: 30px;
}

#alertArea>div:first-child{
    margin-top: 23px;
}

#alertArea>div:nth-child(2){
    margin-top: 25px;
}

#alertArea div{
    font-size: 17px;
}

/* 게시글 수정, 복사, 복제, 작성, 공지로등록 영역 */
#iconArea{
    display: grid;
    grid-template-columns: 170px 80px 80px 80px 110px;
}

#iconArea>div{
    display: flex;
    align-items: end;
}

#iconArea>div:first-child{
    margin-left: 60px;
}

#iconArea>div:first-child>a{
    color: black;
    font-weight: 600;
    margin-left: 5px;
}

#iconArea>div:nth-child(2)>a,#iconArea>div:nth-child(3)>a,
#iconArea>div:nth-child(4)>a,#iconArea>div:nth-child(5)>a{
    margin-left: 8px;
}

/* 테이블 내용 영역 */
#tableArea{
    margin-top: 22px;
}

#tableArea>table{
    width: 1290px;
}

/* #tableArea tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
} */

#tableArea thead{
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

/* #tableArea td:first-child{
    padding-left: 100px;
}


#tableArea td:nth-child(6){
    padding-right: 100px;
}

#tableArea td:first-child>input{
    width: 20px;
    height: 20px;
}

#tableArea tbody td:nth-child(2), #tableArea tbody td:nth-child(3),
#tableArea tbody td:nth-child(4), #tableArea tbody td:nth-child(5),
#tableArea tbody td:nth-child(6){
    margin-right: 20px;
} */


