/* 전체영역 */
#wrap{
    width: 1633px;
    height: 112vh;
    position: absolute;
    top: 55px;
    left: 255px;
    display: grid;
    grid-template-rows: 80px 100px 15px 110px 30px 50px 450px 100px 100px;
}

#write{
    margin-top: 40px;
    margin-left: 320px;
}

#write>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

/* 카테고리 선택 */
#selectArea{
    margin-left: 320px;
    margin-top: 70px;
}

#selectArea>a{
    font-weight: bolder;
    font-size: 18px;
    color: #808080;
}

#selectArea>#selectOne{
    width: 230px;
    background-color: white;
    border-radius: 7px;
    margin-left: 5px;
    color: black;
}

#selectArea>#selectTwo{
    width: 210px;
    background-color: white;
    border-radius: 7px;
    margin-left: 5px;
    color: black;
}

#hr01>hr{
    width: 1387px;
    border: 1px solid #80808024;
    margin-left: 264px;
}

/* 제목영역 */
#title{
    margin-left: 320px;
    margin-top: 60px;
}

#title>input{
    height: 30px;
    width: 1140px;
    margin-left: 100px;
    border: 1px solid #D7D7D7;
    border-radius: 7px;
}

#fileArea{
    margin-left: 320px;
    margin-top: 40px;
}

#fileArea>input{
    margin-left: 137px;
    margin-top: -20px;
}

#contentArea{
    margin-top: 15px;
    width: 1270px;
    margin-left: 320px;
}

/* 임시저장 */
#tempSave{
    display: flex;
    justify-content: end;
    margin-right: 230px;
}

#tempSave>button{
    width: 116px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #5189FA;
    background-color: #EFF5FF;
    color: #4876EF;
}

#tempSave img{
    margin-right: 5px;
}

#radioArea{
    width: 1500px;
    height: 100px;
    margin-left: 320px;
    display: grid;
    grid-row: 50px 50px;
    margin-top: 20px;
}

#radioArea>div:first-child>a, #radioArea>div:nth-child(2)>a{
    font-size: 17px;
    font-weight: 500;
}

#radioArea>div:first-child>#radio01{margin-left: 47px;}
#radioArea>div:first-child>#radio02{margin-left: 20px;}
#radioArea>div:first-child>label{
    font-size: 17px;
    color: #8C8C8C;
    margin-left: 10px;
}

#radioArea>div:nth-child(2)>#radio03{
    margin-left: 63px;
}
#radioArea>div:nth-child(2)>#radio04{
    margin-left: 20px;
}

#radioArea>div:first-child>label, #radioArea>div:nth-child(2)>label{
    font-size: 17px;
    color: #767676;
    margin-left: 10px;
}

#radioArea>div{
    display: flex;
    align-items: end;
}

#btnArea{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#btnArea>input, #btnArea>button{
    width: 160px;
    height: 37px;
    margin-right: 20px;
    color: white;
    border-radius: 10px;
    font-weight: 300;
    font-size: 17px;
}   

#btnArea>input{
    background-color: #5189FA;
    margin-left: 120px;
    border: none;
}
#btnArea>button{
    background-color: #00CBA4;
    border: none;
    margin-left: 20px;
}
