/* 드래그 앤 드롭 */
    .container {
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    }

    .column1 {
    flex-basis: 20%;
    background: #d5dffc;
    min-height: 50vh;
    padding: 5px;
    border-radius: 6px;
    }

    .column2 {
    flex-basis: 20%;
    background: #d5dffc;
    min-height: 50vh;
    padding: 5px;
    border-radius: 6px;
    }

    .column3 {
    flex-basis: 20%;
    background: #d5dffc;
    min-height: 50vh;
    padding: 5px;
    border-radius: 6px;
    }

    .column1,.column2,.column3 h1 {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    }

    .list-group-item {
    background: #fff;
    border-radius: 2px;
    margin-top: 10px;
    }

    .list-group-item:hover {
        border: 1px solid black;
    }


    #enroll{
    margin-top: 40px;
    margin-left: 80px;
    font-size: 20px;
    font-weight: 600;
    }

    #wrap{
        width: 1663px;
        height: 93vh;
        position: absolute;
        top: 65px;
        left: 255px;
    }

    .btn{
        font-size: 0.3em;
        padding: 0;
        block-size: 30px;
        background-color: rgb(45, 99, 216);
        margin: auto;
    }

    #popup_open_btn{
        margin-left: 600px;
        margin-bottom: 0px;
    }

    
    /* 모달1 */

    #my_modal {
        display: none;
        width: 600px;
        padding: 20px 60px;
        height: 700px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
        overflow: scroll;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    #modal-area{
        display: grid;
        grid-row-gap: 20px;
    }

    #textarea{
        resize: none;
        height: 300px;
    }


    fieldset {
    /* border: 3px solid #ccc;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    row-gap: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* 모달 2 */
     #my_modal2 {
        display: none;
        width: 600px;
        padding: 20px 60px;
        height: 700px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
        overflow: scroll;
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    #my_modal2 .modal_close_btn2 {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    #modal-area{
        display: grid;
        grid-row-gap: 20px;
    }

    #textarea{
        resize: none;
        height: 300px;
    }

    fieldset {
    border: 3px solid #ccc;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    display: grid;
    row-gap: 20px;
    }

    #btn-area{
        box-sizing: border-box;
        margin-left: 20px;
    }
	