<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="animal">
 
  	<insert id="enroll">
  	
  		 <foreach collection="list" item="animal" separator=" ">
	        INSERT ALL
	        INTO "ANIMAL" ("NO", "CATEGORY_NO", "DEPARTMENT_NO", "PROFILE", "NICK_NAME", "STATUS", "DATE", "FEILD")
	        VALUES (SEQ_ANIMAL_NO.NEXTVAL, #{animal.categoryNo}, #{animal.departmentNo}, #{animal.profile}, #{animal.nickName}, #{animal.status}, #{animal.date}, #{animal.feild})
	        INTO "CATEGORY" ("CATEGORY_NO", "CLASSIFICATION_NO", "TASTE_NO", "HABITAT_NO", "ENDANGERED_RATING_NO", "NAME")
	        VALUES (SEQ_CATEGORY_NO.NEXTVAL, #{animal.animalClassificationNo}, #{animal.tasteNo}, #{animal.habitatNo}, #{animal.endangeredRatingNo}, #{animal.name})
   		 </foreach>
   			 SELECT * FROM DUAL

  	</insert>
  	
  	
  	<select id="AnimalList" resultType="AnimalVo">
  		SELECT 
  		A.*
		, C.*
		FROM ANIMAL A
		JOIN CATEGORY C ON A.CATEGORY_NO = C.CATEGORY_NO
		WHERE A.STATUS = 'O'
		
  	</select>
  	
  	<select id="getAnimalListCnt">
  		 SELECT COUNT(NO)
		FROM "ANIMAL"
		WHERE STATUS = 'O';
  	</select>
  	
  </mapper>