
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="animal">
 
 
 <resultMap id="AnimalVoResultMap" type="com.kh.zoody.animal.vo.AnimalVo">
    <id property="no" column="NO"/>
    <result property="profile" column="PROFILE"/>
    <result property="categoryNo" column="CATEGORY_NO"/>
    <result property="userNo" column="USER_NO"/> <!-- 사용자 번호 추가 -->
    <result property="departmentNo" column="DEPARTMENT_NO"/>
    <result property="name" column="NAME"/>
    <result property="nickName" column="NICK_NAME"/>
    <result property="status" column="STATUS"/>
    <result property="date" column="DATE"/>
    <result property="feild" column="FEILD"/>
    <result property="tasteNo" column="TASTE_NO"/>
    <result property="habitatNo" column="HABITAT_NO"/>
    <result property="endangeredRatingNo" column="ENDANGERED_RATING_NO"/>
</resultMap>

<!-- AnimalClassificationVo 클래스에 대한 resultMap -->
<resultMap id="AnimalClassificationVoResultMap" type="com.kh.zoody.animal.animalclassification.vo.AnimalClassificationVo">
    <id property="no" column="NO"/>
    <result property="name" column="NAME"/>
</resultMap>

<!-- HabitatVo 클래스에 대한 resultMap -->
<resultMap id="HabitatVoResultMap" type="com.kh.zoody.animal.habitat.vo.HabitatVo">
    <id property="habitatNo" column="HABITAT_NO"/>
    <result property="habitat" column="HABITAT"/>
</resultMap>

<!-- EndangeredVo 클래스에 대한 resultMap -->
<resultMap id="EndangeredVoResultMap" type="com.kh.zoody.animal.endangered.vo.EndangeredVo">
    <id property="endangeredRatingNo" column="ENDANGERED_RATING_NO"/>
    <result property="endangered" column="ENDANGERED"/>
</resultMap>

<!-- TasteVo 클래스에 대한 resultMap -->
<resultMap id="TasteVoResultMap" type="com.kh.zoody.animal.taste.vo.TasteVo">
    <id property="tasteNo" column="TASTE_NO"/>
    <result property="taste" column="TASTE"/>
</resultMap>
 
 
 
  	<insert id="enroll">
  	
  		INSERT ALL
		INTO "ANIMAL" ("NO", "CATEGORY_NO", "DEPARTMENT_NO", "PROFILE", "NICK_NAME", "FEILD")
		VALUES (SEQ_ANIMAL_NO.NEXTVAL, SEQ_CATEGORY_NO.NEXTVAL, #{departmentNo}, #{profile}, #{nickName}, #{feild})
		INTO "CATEGORY" ("CATEGORY_NO", "CLASSIFICATION_NO", "TASTE_NO", "HABITAT_NO", "ENDANGERED_RATING_NO", "NAME")
		VALUES (SEQ_CATEGORY_NO.NEXTVAL,#{animalClassificationNo},#{tasteNo},#{habitatNo},#{endangeredRatingNo},#{name})
		SELECT * FROM DUAL

  	</insert>
  	
  	<select id="AnimalList" resultType="com.kh.zoody.animal.vo.AnimalVo" >
  	  SELECT
		    A.NO,
		    A.NICK_NAME,
		    TO_CHAR(A."DATE",'YYYY-MM-DD') AS"DATE",
		    A.FEILD,
		    C.NAME ,
		    T.TASTE,
		    H.HABITAT,
		    E.ENDANGERED
		FROM
		    ANIMAL A
		JOIN
		    CATEGORY C ON A.CATEGORY_NO = C.CATEGORY_NO
		JOIN
		    ANIMAL_CLASSIFICATION AC ON C.CLASSIFICATION_NO = AC.NO
		JOIN
		    TASTE T ON C.TASTE_NO = T.TASTE_NO
		JOIN
		    HABITAT H ON C.HABITAT_NO = H.HABITAT_NO
		JOIN
		    ENDANGERED_RATING E ON C.ENDANGERED_RATING_NO = E.ENDANGERED_RATING_NO
		    WHERE 
            A.STATUS = 'O'
		    <if test="searchValue != null and searchValue !='' and searchType != null and searchType !=''">
	           AND ${searchType} LIKE '%${searchValue}%'
		    </if>
		    ORDER BY A.NO DESC
		
  	</select>
  	
  	<select id="getAnimalListCnt" resultType="int">
  		 SELECT COUNT(NO)
		FROM ANIMAL
		WHERE STATUS = 'O'
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != '' ">
        AND ${searchType} LIKE '%${searchValue}%'
    	</if>
  	</select>
  	
  	
  	<insert id="trainingWrite">
  		INSERT INTO ANIMAL_TRAINING
			(
			    TRAINING_NO
			    , NO
			    , TITLE
			    , CONTENT
			)
			VALUES
			(
			    SEQ_ANIMAL_TRAINING_NO.NEXTVAL
			    ,#{animalNo}
			    ,#{trainingTitle}
			    ,#{trainingContent}
			)
  	
  	</insert>
  	
  	<insert id="healthWrite">
  		INSERT INTO ANIMAL_HEALTH_SCREENING
			(
			    NO
			    ,ANIMAL_NO
			    ,LIFE_STYLE_MANAGEMENT
			    ,DISEASE
			    ,STATE_OF_HEALTH
			)
			VALUES
			(
			    SEQ_ANIMAL_HEALTH_SCREENING_NO.NEXTVAL
			    ,#{animalNo}
			    ,#{lifeStyleManagement}
			    ,#{stateOfHealth}
			    ,#{disease}
			)
  	</insert>
  	
  	<select id="animalDetail" resultType="AnimalVo">
  		    SELECT
		    A.NO,
		    A.PROFILE,
		    A.DEPARTMENT_NO,
            D.NAME AS DEPARTMENT_NAME, 
		    A.NICK_NAME,
		    A.STATUS,
		    TO_CHAR( A."DATE",'YYYY-MM-DD')AS "DATE",
		    A.FEILD,
		    C.CLASSIFICATION_NO,
            AC.NAME AS ANIMAL_CLASSIFICATION_NAME,    
		    T.TASTE_NO,
		    H.HABITAT_NO,	
            C.NAME AS NAME,
		    E.ENDANGERED_RATING_NO,
		    T.TASTE,
		    H.HABITAT,
		    E.ENDANGERED
		FROM
		    ANIMAL A
		JOIN
		    CATEGORY C ON A.CATEGORY_NO = C.CATEGORY_NO
		JOIN
		    ANIMAL_CLASSIFICATION AC ON C.CLASSIFICATION_NO = AC.NO
		JOIN
		    TASTE T ON C.TASTE_NO = T.TASTE_NO
		JOIN
		    HABITAT H ON C.HABITAT_NO = H.HABITAT_NO
		JOIN
		    ENDANGERED_RATING E ON C.ENDANGERED_RATING_NO = E.ENDANGERED_RATING_NO
        JOIN 
            DEPARTMENT D ON A.DEPARTMENT_NO = D.NO
		    WHERE A.NO =#{no}
  	</select>
  	
  	<select id="animalHealth" resultType="com.kh.zoody.animal.health.vo.HealthVo">
  		SELECT 
		NO
		,ANIMAL_NO
		,STATE_OF_HEALTH
		, TO_CHAR(CHECKUP_DATE, 'YYYY-MM-DD') AS CHECKUP_DATE
		,CONTENT
		,DISEASE
		,LIFE_STYLE_MANAGEMENT
		FROM ANIMAL_HEALTH_SCREENING
		WHERE NO = #{no}
  	</select>
  	
  	<select id="trainingList" resultType="TrainingVo">
  			 SELECT 
             AT.TRAINING_NO 
            ,AT.TITLE AS TRAINING_TITLE
            ,TO_CHAR(AT."DATE",'YYYY-DD-MM')AS TRAINING_DATE
            ,A.NICK_NAME AS NICK_NAME
            ,A.NO AS ANIMAL_NO
            FROM ANIMAL_TRAINING  AT 
            JOIN ANIMAL A ON AT.NO = A.NO
            WHERE
             AT.STATUS = 'O'
             <if test="searchValue != null and searchValue !=''">
            	AND A.NICK_NAME LIKE '%${searchValue}%'
             </if>
  			ORDER BY AT.TRAINING_NO DESC
  	</select>
  	
  	<select id="getAnimalTrainingListCnt" resultType="int">
  		 SELECT COUNT(NO)
		FROM  ANIMAL_TRAINING
		WHERE STATUS = 'O'
  	</select>
  	
  	<select id="animalTrainingDetail" resultType="com.kh.zoody.animal.vo.AnimalVo">
  	
  		 SELECT 
		  TITLE AS TRAINING_TITLE
		  , NO AS TRAINING_NO
		 ,CONTENT AS TRAINING_CONTENT
		 ,TO_CHAR("DATE" , 'YYYY-MM-DD') AS TRAINING_DATE
		 FROM ANIMAL_TRAINING
		 WHERE TRAINING_NO= #{no}
		 AND STATUS = 'O'
 
  	</select>
  	
  	
  	<select id="getAnimalHealthListCnt" resultType="int">
  		SELECT COUNT(NO)
		FROM ANIMAL_HEALTH_SCREENING
  	</select>
  	
  	<select id="animalHealthList" resultType="com.kh.zoody.animal.vo.AnimalVo">
  		SELECT 
         AHS.NO
         ,AHS.STATE_OF_HEALTH
         ,TO_CHAR(AHS.CHECKUP_DATE , 'YYYY-MM-DD') AS CHECKUP_DATE
         ,A.NICK_NAME 
         FROM ANIMAL_HEALTH_SCREENING AHS
         JOIN ANIMAL A ON AHS.ANIMAL_NO = A.NO
         WHERE A.STATUS = 'O'
         <if test="searchValue != null and searchValue !=''">
	         AND A.NICK_NAME LIKE '%${searchValue}%'
         </if>
         ORDER BY AHS.NO DESC
  	</select>
  	
  	<update id="animalDie">
 		 UPDATE ANIMAL SET STATUS = 'X'
 		 WHERE NO = #{no}
  	</update>
  	
  	<update id="animalDeptEdit">
  		 UPDATE ANIMAL SET DEPARTMENT_NO= #{departmentNo}
 		 WHERE NO = #{animalNo}
  	</update>
  	
  	<select id="trainingDetail" resultType="TrainingVo">
  		SELECT 
             AT.TRAINING_NO 
            ,AT.TITLE AS TRAINING_TITLE
            ,TO_CHAR(AT."DATE",'YYYY-DD-MM')AS TRAINING_DATE
            ,A.NICK_NAME AS NICK_NAME
            ,A.NO AS ANIMAL_NO
            FROM ANIMAL_TRAINING  AT 
            JOIN ANIMAL A ON AT.NO = A.NO
            WHERE
             AT.STATUS = 'O'
             AND A.NO = #{no}
             ORDER BY AT.NO DESC
             
  	</select>
  	
  	<select id="healthDetail" resultType="com.kh.zoody.animal.health.vo.HealthVo">
  		
		 SELECT 
		 A.NO AS ANIMAL_NO
		 ,AHS.NO AS NO
		 ,AHS.STATE_OF_HEALTH
		 ,TO_CHAR(AHS.CHECKUP_DATE , 'YYYY-MM-DD') AS CHECKUP_DATE
		 ,A.NICK_NAME 
		 FROM ANIMAL_HEALTH_SCREENING AHS
		 JOIN ANIMAL A ON AHS.ANIMAL_NO = A.NO
		 <if test="no!=null">
			 WHERE ANIMAL_NO  = #{no}
		 </if>
		 <if test="healthNo !=null">
		 	WHERE NO = #{healthNo}
		 </if>
		 AND A.STATUS = 'O'
		 
  	</select>
  	
  	<update id="trainingEdit">
  		UPDATE ANIMAL_TRAINING SET TITLE = #{trainingTitle} , CONTENT = #{trainingContent} WHERE TRAINING_NO = #{trainingNo}
  	</update>
  	
  </mapper>