<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="animal">
 
 
  	<insert id="enroll">
  	
  		INSERT ALL
		INTO "ANIMAL" ("NO", "CATEGORY_NO", "DEPARTMENT_NO", "PROFILE", "NICK_NAME", "FEILD")
		VALUES (SEQ_ANIMAL_NO.NEXTVAL, SEQ_CATEGORY_NO.NEXTVAL, #{departmentNo}, #{profile}, #{nickName}, #{feild})
		INTO "CATEGORY" ("CATEGORY_NO", "CLASSIFICATION_NO", "TASTE_NO", "HABITAT_NO", "ENDANGERED_RATING_NO", "NAME")
		VALUES (SEQ_CATEGORY_NO.NEXTVAL,#{animalClassificationNo},#{tasteNo},#{habitatNo},#{endangeredRatingNo},#{name})
		SELECT * FROM DUAL

  	</insert>
  	
  	
  	<select id="AnimalList" resultMap="TasteVo ,AnimalVo , CategoryVo, AnimalClassificationVo,HabitatVo,EndangeredVo ">
  	   SELECT
		    A.NO,
		    
		    
		    
		    A.NICK_NAME,
		    
		    TO_CHAR(A."DATE",'YYYY-MM-DD') AS"DATE",
		    A.FEILD,
		    
		    
		    
		    
		    C.NAME AS NAME,
		    T.TASTE,
		    H.HABITAT,
		    E.ENDANGERED
		FROM
		    ANIMAL A
		JOIN
		    CATEGORY C ON A.CATEGORY_NO = C.CATEGORY_NO
		JOIN
		    ANIMAL_CLASSIFICATION AC ON C.CLASSIFICATION_NO = AC.NO
		JOIN
		    TASTE T ON C.TASTE_NO = T.TASTE_NO
		JOIN
		    HABITAT H ON C.HABITAT_NO = H.HABITAT_NO
		JOIN
		    ENDANGERED_RATING E ON C.ENDANGERED_RATING_NO = E.ENDANGERED_RATING_NO
		    WHERE A.STATUS = 'O'
		    ORDER BY A.NO DESC
		
  	</select>
  	
  	<select id="getAnimalListCnt">
  		 SELECT COUNT(NO)
		FROM "ANIMAL"
		WHERE STATUS = 'O'
  	</select>
  	
  	
  	<insert id="trainingWrite">
  		INSERT INTO ANIMAL_TRAINING
			(
			    TRAINING_NO
			    , NO
			    , TITLE
			    , CONTENT
			)
			VALUES
			(
			    SEQ_ANIMAL_TRAINING_NO.NEXTVAL
			    ,#{no}
			    ,#{title}
			    ,#{content}
			)
  	
  	</insert>
  	
  	<insert id="healthWrite">
  		INSERT INTO ANIMAL_HEALTH_SCREENING
			(
			    NO
			    ,ANIMAL_NO
			    ,STATE_OF_HEALTH
			    ,CONTENT
			    ,DISEASE
			    ,LIFE_STYLE_MANAGEMENT
			)
			VALUES
			(
			    SEQ_ANIMAL_HEALTH_SCREENING_NO.NEXTVAL
			    ,#{animalNo}
			    ,#{stateOfHealth}
			    ,#{content}
			    ,#{disease}
			    ,#{lifeStyleManagement}
			)
  	</insert>
  	
  	<select id="animalDetail" resultType="AnimalVo">
  		
  		    SELECT
		    A.NO,
		    A.CATEGORY_NO,
		    A.PROFILE,
		    A.DEPARTMENT_NO,
		    A.NICK_NAME,
		    A.STATUS,
		    A."DATE",
		    A.FEILD,
		    C.CLASSIFICATION_NO,
		    T.TASTE_NO,
		    H.HABITAT_NO,
		    E.ENDANGERED_RATING_NO,
		    C.NAME AS CATEGORY_NAME,
		    T.TASTE,
		    H.HABITAT,
		    E.ENDANGERED
		FROM
		    ANIMAL A
		JOIN
		    CATEGORY C ON A.CATEGORY_NO = C.CATEGORY_NO
		JOIN
		    ANIMAL_CLASSIFICATION AC ON C.CLASSIFICATION_NO = AC.NO
		JOIN
		    TASTE T ON C.TASTE_NO = T.TASTE_NO
		JOIN
		    HABITAT H ON C.HABITAT_NO = H.HABITAT_NO
		JOIN
		    ENDANGERED_RATING E ON C.ENDANGERED_RATING_NO = E.ENDANGERED_RATING_NO
		    WHERE A.NO = #{no}

  	</select>
  	
  	<select id="animalHealth" resultType="com.kh.zoody.animal.health.vo.HealthVo">
  		SELECT 
		NO
		,ANIMAL_NO
		,STATE_OF_HEALTH
		, TO_CHAR(CHECKUP_DATE, 'YYYY-MM-DD') AS CHECKUP_DATE
		,CONTENT
		,DISEASE
		,LIFE_STYLE_MANAGEMENT
		FROM ANIMAL_HEALTH_SCREENING
		WHERE ANIMAL_NO = #{no}
  	</select>
  	
  	
  	
  </mapper>