<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="attendance">

	<select id="attMyList" resultType="com.kh.zoody.attendance.vo.AttendanceVo">
		
		SELECT 
		    A.NO
		    ,A.USER_NO
		    ,A.CURRENT_NO
		    ,A.ENROLLDATE
		    ,A.CHECK_IN_TIME
		    ,A.CHECK_OUT_TIME
		    ,A.PLUS_WORK_TIME
		    ,A.TOTAL_WORK_TIME
		    ,A.OBJECTION_REASON
		    ,A.APPROVAL_STATUS
		    ,AC.TYPE
		    ,U.NAME
		FROM ATTENDANCE A
		INNER JOIN "USER" U
		ON A.USER_NO = U.NO
		INNER JOIN ATTENDANCE_CURRENT AC
		ON A.CURRENT_NO = AC.NO
		WHERE U.NO = 1
		
	</select>
  
</mapper>