<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="attendance">

	<select id="getMyAttendanceCnt" resultType="int">
		SELECT COUNT(NO)
		FROM ATTENDANCE
		WHERE NO=1
	</select>

	<select id="selectList" resultType="AttendanceVo">
		
		SELECT 
		    A.NO
		    ,A.USER_NO
		    ,A.CURRENT_NO
		    ,TO_CHAR(A.ENROLLDATE, 'YYYY-MM-DD') AS ENROLLDATE
		    ,TO_CHAR(A.CHECK_IN_TIME, 'HH24:MI:SS') AS CHECK_IN_TIME
		    ,TO_CHAR(A.CHECK_OUT_TIME, 'HH24:MI:SS') AS CHECK_OUT_TIME
		    ,TO_CHAR(A.PLUS_WORK_TIME, 'HH24:MI:SS') AS PLUS_WORK_TIME
		    ,TO_CHAR(A.CHECK_OUT_TIME - A.CHECK_IN_TIME + A.PLUS_WORK_TIME, 'HH24:MI:SS') AS TOTAL_WORK_TIME
		    ,A.OBJECTION_REASON
		    ,A.APPROVAL_STATUS
		    ,AC.TYPE AS TYPE
		    ,U.NAME AS NAME
		FROM ATTENDANCE A
		JOIN "USER" U
		ON A.USER_NO = U.NO
		JOIN ATTENDANCE_CURRENT AC
		ON A.CURRENT_NO = AC.NO
		WHERE U.NO = 1
		
	</select>
  
</mapper>