<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="calendar">

	<select id="listAll" resultType="Map" parameterType="String">
		SELECT 
		    C.NO
		    ,C.USER_NO
		    ,C.TYPE_NO
		    ,C.REV_NO
		    ,C.TITLE
		    ,C.CONTENT
		    ,TO_CHAR(C.START_TIME, 'YYYY-MM-DD HH24:MI') AS START_TIME
		    ,TO_CHAR(C.END_TIME, 'YYYY-MM-DD HH24:MI') AS END_TIME
		    ,C.PLACE
		    ,C.STATUS
		    ,C.ALL_DAY
		    ,U.NAME
		    ,CT.TYPE
		    ,CT.COLOR
		    ,U.DEPARTMENT_NO
		FROM CALENDAR C
		JOIN "USER" U
		ON C.USER_NO = U.NO
		JOIN CALENDAR_TYPE CT
		ON C.TYPE_NO = CT.NO
		WHERE C.STATUS = 0
	      AND (
	          (C.TYPE_NO = 0 AND C.USER_NO = #{userNo})
	          OR (C.TYPE_NO = 1 AND U.DEPARTMENT_NO = #{departmentNo})
	          OR (C.TYPE_NO = 3 AND U.DEPARTMENT_NO = #{departmentNo})
	          OR C.TYPE_NO IN (2, 4)
	      )
	</select>
	
	<insert id="addMonth">
		INSERT INTO CALENDAR (NO, USER_NO, TYPE_NO, TITLE, CONTENT, START_TIME, END_TIME, PLACE ,ALL_DAY) 
		VALUES (
			SEQ_CALENDAR_NO.NEXTVAL, 
			#{userNo}, 
			#{typeNo},
			#{title}, 
			#{content}, 
			#{startTime}, 
			#{endTime}, 
			#{place},
			#{allDay}
		)
	</insert>
	
	<update id="updateMonth">
		UPDATE CALENDAR
		SET 
			TYPE_NO = #{typeNo},
			CONTENT = #{content},
			START_TIME = #{startTime},
			END_TIME = #{endTime},
			TITLE = #{title},
			PLACE = #{place},
			ALL_DAY = #{allDay}
		WHERE NO=#{no}
	</update>
	
	<update id="deleteMonth">
		UPDATE CALENDAR
		SET STATUS = 1
		WHERE NO=#{no}
	</update>

	
  
</mapper>