<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="community">

	<select id="getBoardList" resultType="BoardVo">
		
		SELECT 
			ROWNUM,
		    u.NAME,
		    b.NO AS BOARD_NO,
		    b.USER_NO,
		    b.CAT_NO,
		    b.TITLE,
		    b.CONTENT,
		    b.ENROLL_DATE,
		    b.MODIFY_DATE,
		    b.FILE_PATH,
		    b.HIT
		FROM (
		    SELECT NO, USER_NO, CAT_NO, TITLE, CONTENT, ENROLL_DATE, MODIFY_DATE, FILE_PATH, HIT
		    FROM BOARD
		    WHERE STATUS = 'O' 
		
		<choose>
			
			<when test="call != null and call.equals('home')">
				AND CAT_NO = 4
				ORDER BY NO
				) b
				LEFT JOIN "USER" u ON b.USER_NO = u.NO
				ORDER BY ROWNUM DESC
				FETCH FIRST 5 
				ROWS ONLY 
			</when>
			
			<otherwise>
				AND CAT_NO = #{catNo}
				ORDER BY NO
				) b
				LEFT JOIN "USER" u ON b.USER_NO = u.NO
				ORDER BY b.NO DESC 
			</otherwise>
			
			
			
		</choose>
			
		
	</select>


	<insert id="write" >
	    INSERT INTO BOARD (
	        NO,
	        USER_NO,
	        CAT_NO,
	        TITLE,
	        CONTENT
	        <if test="file != null and !file.equals('')">
	            , FILE_PATH
	        </if>
	    ) VALUES (
	        SEQ_BOARD_NO.NEXTVAL,
	        #{userNo},
	        #{catNo},
	        #{title},
	        #{content}
	        <if test="file != null and !file.equals('')">
	            , #{file}
	        </if>
	    )
	</insert>
	
	<select id="detail" resultType="BoardVo">
		SELECT *
		FROM BOARD
		WHERE NO = #{NO}
	</select>
	
  
</mapper>