<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="community">

	<select id="getBoardList" resultType="BoardVo" parameterType="java.util.Map">
	    SELECT 
		    ROWNUM,
		    x.NO AS BOARD_NO,
		    x.USER_NO,
		    x."NAME",
		    x.CAT_NO,
		    x.CAT_NAME,
		    x.TITLE,
		    x.CONTENT,
		    x.ENROLL_DATE,
		    x.MODIFY_DATE,
		    x.FILE_PATH,
		    x.HIT
		FROM (
		    SELECT b.NO, b.USER_NO, u."NAME", b.CAT_NO, bc."NAME" AS "CAT_NAME", b.TITLE, b.CONTENT, b.ENROLL_DATE, b.MODIFY_DATE, b.FILE_PATH, b.HIT
		    FROM BOARD b
		    LEFT JOIN "USER" u ON b.USER_NO = u.NO
		    LEFT JOIN BOARD_CATEGORY bc ON  b.CAT_NO = bc.NO
		    <where>
		        <if test="searchType == 'title'">
		            AND b.TITLE LIKE '%' || #{searchValue} || '%'
		        </if>
		        <if test="searchType == 'name'">
		            AND u.NAME LIKE '%' || #{searchValue} || '%'
		        </if>
		        
		        AND STATUS = 'O' 
		        AND CAT_NO = #{catNo}
		    </where>
		    ORDER BY NO
		) x
		ORDER BY ROWNUM DESC

	</select>



	<insert id="write" >
	    INSERT INTO BOARD (
	        NO,
	        USER_NO,
	        CAT_NO,
	        TITLE,
	        CONTENT
	        <if test="file != null and !file.equals('')">
	            , FILE_PATH
	        </if>
	    ) VALUES (
	        SEQ_BOARD_NO.NEXTVAL,
	        #{userNo},
	        #{catNo},
	        #{title},
	        #{content}
	        <if test="file != null and !file.equals('')">
	            , #{file}
	        </if>
	    )
	</insert>
	
	<select id="detail" resultType="BoardVo">
		SELECT *
		FROM BOARD
		WHERE NO = #{NO}
	</select>
	
	<update id="increaseBoard">
		UPDATE BOARD
	    SET HIT = HIT + 1
	    WHERE NO = #{no}
	</update>
  	
  	
  	<select id="getBaordListCnt" resultType="int">
	    SELECT COUNT(*) AS total_rows
	    FROM Board b
	    LEFT JOIN "USER" u ON b.USER_NO = u."NO"
        LEFT JOIN BOARD_CATEGORY bc ON b.CAT_NO = bc.NO
	    <where>
	        <!-- 검색 조건이 제목일 때, 제목에 해당하는 문서만 조회합니다. -->
	        <if test="searchType == 'title'">
	            AND b.TITLE LIKE '%' || #{searchValue} || '%'
	        </if>
	        <!-- 검색 조건이 작성자일 때, 작성자에 해당하는 문서만 조회합니다. -->
	        <if test="searchType == 'name'">
	            AND u.NAME LIKE '%' || #{searchValue} || '%'
	        </if>
	        <if test="searchType == 'status'">
	            AND b.STATUS LIKE '%' || #{searchValue} || '%'
	        </if>
	        
	        <!-- 다른 검색 조건이 추가되는 경우에도 if 태그를 추가하여 조건에 따른 쿼리를 작성할 수 있습니다. -->
	        AND b.STATUS = 'O'
	        AND b.CAT_NO = #{catNo}
	    </where>
	</select>
</mapper>