<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="login">
	
	
	<!-- 로그인 -->
	<select id="login" resultType="UserVo">
	SELECT
    u.NO,
    u.DEPARTMENT_NO,
    d.NAME AS DEPARTMENT_NAME,
    u.RANK_NO,
    r.NAME AS RANK_NAME,
    r.GRADE AS GRADE,
    u.POSITION_NO,
    p.NAME AS POSITION_NAME,
    u.STATE_NO,
    us.NAME AS STATE_NAME,
    u.AGENT,
    u.DIVISION_NO,
    ed.EMPLOY_DIVISION AS EMPLOY_DIVISION_NAME,
    u.ID,
    u.PWD,
    u.NAME,
    u.GENDER,
    u.BIRTH_DATE,
    u.PROFILE,
    u.LINE_INTRO,
    u.ADDRESS,
    u.PHONE,
    u.MAIL,
    u.REGISTRATION_DATE,
    u.LEAVE_REASON,
    u.LEAVE_DATE,
    u.OFFICE_NUMBER,
    u.LEAVE_COUNT,
    u.CAPACITY
	FROM "USER" u
	LEFT JOIN "DEPARTMENT" d ON u.DEPARTMENT_NO = d.NO
	LEFT JOIN "RANK" r ON u.RANK_NO = r.NO
	LEFT JOIN "POSITION" p ON u.POSITION_NO = p.NO
	LEFT JOIN "USER_STATE" us ON u.STATE_NO = us.NO
	LEFT JOIN "EMPLOY_DIVISION" ed ON u.DIVISION_NO = ed.NO
	WHERE u.ID = #{id}
		
		
	</select>
	
	
	<!-- JAAX 로 아이디 인증 -->
	<select id="idCheck" resultType="Integer">
		SELECT COUNT(*) 
		FROM "USER" 
		WHERE ID = #{id}
	</select>
	
	<!--지 아이디로 비밀번호 설정 -->
	<update id="pwdSetting">
		UPDATE "USER" 
		SET PWD = #{pwd}
		WHERE ID = #{id}
	</update>
  	
</mapper>