<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mail">

	<insert id="insertMail">
	
		<selectKey resultType="String" keyProperty="no" order="BEFORE">
			SELECT SEQ_MAIL_NO.NEXTVAL
			FROM DUAL
		</selectKey>
		
		INSERT INTO MAIL
		(
			NO,
			SENDER,
			PREV_NO,
			TITLE,
			CONTENT,
			SEND_DATE
		)
		VALUES
		(
			#{no},
			#{sender},
			#{prevNo},
			#{title},
			#{content},
			DEFAULT
		)
		
	</insert>
	
	<insert id="insertAttachment">
	
		INSERT INTO MAIL_ATTACHMENT
		(
			NO,
			MAIL_NO,
			ORIGIN_NAME,
			CHANGE_NAME
		)
		SELECT
			SEQ_MAIL_ATTACHMENT_NO.NEXTVAL,
			TEMP.* FROM 
			(
				<foreach item="item" collection="list" separator="UNION ALL " >
				SELECT 
					#{item.mailNo} AS MAIL_NO,
					#{item.originName} AS ORIGIN_NAME,
					#{item.changeName} AS CHANGE_NAME
				FROM DUAL
				</foreach>
			) TEMP
		
	
	</insert>
	
	
	<insert id="insertRecipient" parameterType="java.util.List">
	
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" separator=" " >
			INTO MAIL_RECIPIENT
			(
			    MAIL_NO,
			    RECEIVER_NO,
			    READ_CHECK,
			    BOOKMARK_CHECK,
			    DELETE_CHECK
			)
			VALUES
			(
			    #{item.mailNo},
			    (SELECT NO FROM "USER" WHERE MAIL = #{item.receiverNo}),
			    DEFAULT,
			    DEFAULT,
			    DEFAULT
			)
		</foreach>
		
	</insert>
	
	
	<insert id="insertCc" parameterType="java.util.List">
	
		
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" separator=" " >
			INTO MAIL_CC
			(
			    MAIL_NO,
				CC_NO,
				BCC_CHECK
			)
			VALUES
			(
			    #{item.mailNo},
			    (SELECT NO FROM "USER" WHERE MAIL = #{item.ccNo}),
			    <choose>
			    	<when test="item.bccCheck == null">default</when>
			    	<when test="item.bccCheck != null">#{item.bccCheck}</when>
			    </choose>
			)
		</foreach>
		
	</insert>
	
	
	<select id="getAllMail" resultType="MailVo">
	
		SELECT 
		    DISTINCT M.NO,
		    "USER".NAME AS SENDER_NAME,
		    "USER".MAIL AS SENDER_MAIL,
		    PREV_NO,
		    TITLE,
		    CONTENT,
		    SEND_DATE,
		    MAIL_RECIPIENT.READ_CHECK AS READ_CHECK,
		    MAIL_CC.READ_CHECK AS READ_CHECK2,
		    MAIL_RECIPIENT.DELETE_CHECK AS DELETE_CHECK,
		    MAIL_RECIPIENT.RECEIVER_NO AS RECEIVER_NO,
		    MAIL_ATTACHMENT_CNT,
		    BOOKMARK_CHECK
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_RECIPIENT ON M.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN MAIL_CC ON M. NO = MAIL_CC.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE DUMP_CHECK = 'X'
			OR DELETE_CHECK = 'X'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		    OR CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
	    ORDER BY SEND_DATE DESC
	
	</select>
	
	<select id="getAllMailCount" resultType="String">
	
		SELECT COUNT(M.NO)
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_RECIPIENT ON M.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN MAIL_CC ON M. NO = MAIL_CC.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		    OR CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		     
	</select>
	
	<select id="getUnreadMailCount" resultType="String">
	
		SELECT COUNT(M.NO)
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_RECIPIENT ON M.NO = MAIL_RECIPIENT.MAIL_NO
		WHERE MAIL_RECIPIENT.READ_CHECK = 'X'
			AND DELETE_CHECK = 'X'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		    
	</select>
	
	<select id="getUnreadMailCount2" resultType="String">
	
		SELECT COUNT(M.NO)
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_CC ON M. NO = MAIL_CC.MAIL_NO
		WHERE MAIL_CC.READ_CHECK = 'X'
			AND DUMP_CHECK = 'X'
		    AND CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		    
	</select>
	
	
	<select id="getReceiveMailList" resultType="MailVo">
		SELECT
		    DISTINCT MAIL.NO,
		    "USER".NAME AS SENDER_NAME,
		    "USER".MAIL AS SENDER_MAIL,
		    PREV_NO,
		    TITLE,
		    CONTENT,
		    SEND_DATE,
		    MAIL_RECIPIENT.READ_CHECK AS READ_CHECK,
		    MAIL_RECIPIENT.DELETE_CHECK AS DELETE_CHECK,
		    MAIL_RECIPIENT.RECEIVER_NO AS RECEIVER_NO,
		    MAIL_ATTACHMENT_CNT,
		    BOOKMARK_CHECK
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{receiverMail})
        ORDER BY SEND_DATE DESC
	</select>
	
	<select id="getReceiveMailCnt" resultType="String">
	
		SELECT COUNT(MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{receiverMail})
        ORDER BY SEND_DATE DESC
	
	</select>
	
	<select id="getUnreadReceiveMailCnt" resultType="String">
	
		SELECT COUNT(MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND READ_CHECK = 'X'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{receiverMail})
        ORDER BY SEND_DATE DESC
	
	</select>
	
	
	<select id="getSendMailList" resultType="MailVo">
	
		SELECT 
		    DISTINCT M.NO,
		    "USER".NAME AS SENDER_NAME,
		    "USER".MAIL AS SENDER_MAIL,
		    PREV_NO,
		    TITLE,
		    CONTENT,
		    SEND_DATE,
		    MAIL_ATTACHMENT_CNT
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
	    	LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE M.SENDER = ( 
							SELECT NO 
							FROM "USER" 
							WHERE MAIL = #{mail} 
						)
		ORDER BY SEND_DATE DESC
	
	</select>
	
	
	<select id="getSendMailCnt" resultType="String">
	
		SELECT COUNT(DISTINCT M.NO)
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
	    	LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE M.SENDER = ( 
							SELECT NO 
							FROM "USER" 
							WHERE MAIL = #{mail} 
						)
	
	</select>
	
	
	<select id="getToMeMailList" resultType="MailVo">
	
		SELECT 
		    DISTINCT M.NO,
		    "USER".NAME AS SENDER_NAME,
		    "USER".MAIL AS SENDER_MAIL,
		    PREV_NO,
		    TITLE,
		    CONTENT,
		    SEND_DATE,
		    MAIL_RECIPIENT.READ_CHECK AS READ_CHECK,
		    MAIL_RECIPIENT.DELETE_CHECK AS DELETE_CHECK,
		    MAIL_RECIPIENT.RECEIVER_NO AS RECEIVER_NO,
		    MAIL_ATTACHMENT_CNT,
		    BOOKMARK_CHECK
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON M.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND M.SENDER = ( SELECT NO FROM "USER" WHERE MAIL = #{mail}  )
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail} )
	    ORDER BY SEND_DATE DESC
	
	</select>
	
	
	<select id="getToMeMailCnt" resultType="String">
	
		SELECT COUNT(DISTINCT M.NO)
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON M.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND M.SENDER = ( SELECT NO FROM "USER" WHERE MAIL = #{mail}  )
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail} )
	    ORDER BY SEND_DATE DESC
	
	</select>
	
	<select id="getUnreadToMeCnt" resultType="String">
	
		SELECT COUNT(DISTINCT M.NO)
		FROM MAIL M
		    JOIN "USER" ON M.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON M.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
		        FROM MAIL_ATTACHMENT
		        GROUP BY MAIL_NO) TEMP ON M.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
		    AND M.SENDER = ( SELECT NO FROM "USER" WHERE MAIL = #{mail}  )
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail} )
		    AND READ_CHECK = 'X'
	
	</select>
	
	
	<select id="getDumpMailList" resultType="MailVo">
	
		SELECT
		    DISTINCT MAIL.NO,
		    "USER".NAME AS SENDER_NAME,
		    "USER".MAIL AS SENDER_MAIL,
		    PREV_NO,
		    TITLE,
		    CONTENT,
		    SEND_DATE,
		    MAIL_RECIPIENT.READ_CHECK AS READ_CHECK,
		    MAIL_CC.READ_CHECK AS READ_CHECK2,
		    MAIL_RECIPIENT.DELETE_CHECK AS DELETE_CHECK,
		    MAIL_RECIPIENT.RECEIVER_NO AS RECEIVER_NO,
		    MAIL_ATTACHMENT_CNT
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN MAIL_CC ON MAIL.NO = MAIL_CC.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
		        FROM MAIL_ATTACHMENT
		        GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DUMP_CHECK = 'O'
		    OR DELETE_CHECK = 'O'
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		    OR CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		ORDER BY SEND_DATE DESC
	
	</select>
	
	
	<select id="getDumpMailCnt" resultType="String">
	
		SELECT COUNT(DISTINCT MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN MAIL_CC ON MAIL.NO = MAIL_CC.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
		        FROM MAIL_ATTACHMENT
		        GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DUMP_CHECK = 'O'
		    OR DELETE_CHECK = 'O'
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
		    OR CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
	
	</select>
	
	<select id="getUnreadDumpMailCnt1" resultType="String">
	
		SELECT COUNT(DISTINCT MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
		        FROM MAIL_ATTACHMENT
		        GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'O'
		    AND READ_CHECK = 'X'
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
	
	</select>
	
	
	<select id="getUnreadDumpMailCnt2" resultType="String">
	
		SELECT COUNT(DISTINCT MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    LEFT OUTER JOIN MAIL_CC ON MAIL.NO = MAIL_CC.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
		        FROM MAIL_ATTACHMENT
		        GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DUMP_CHECK = 'O'
		    AND READ_CHECK = 'X'
		    AND CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
	
	</select>
	
	<select id="getBookmarkMailList" resultType="MailVo">
	
		SELECT
		    DISTINCT MAIL.NO,
		    "USER".NAME AS SENDER_NAME,
		    "USER".MAIL AS SENDER_MAIL,
		    PREV_NO,
		    TITLE,
		    CONTENT,
		    SEND_DATE,
		    MAIL_RECIPIENT.READ_CHECK AS READ_CHECK,
		    MAIL_RECIPIENT.DELETE_CHECK AS DELETE_CHECK,
		    MAIL_RECIPIENT.RECEIVER_NO AS RECEIVER_NO,
		    MAIL_ATTACHMENT_CNT,
		    BOOKMARK_CHECK
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND BOOKMARK_CHECK = 'O'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
        ORDER BY SEND_DATE DESC
		
	
	</select>
	
	
	<select id="getBookMarkMailCnt" resultType="String">
	
		SELECT COUNT(DISTINCT MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND BOOKMARK_CHECK = 'O'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
	
	</select>
	
	<select id="getUnreadBookMarkCnt" resultType="String">
	
		SELECT COUNT(DISTINCT MAIL.NO)
		FROM MAIL
		    JOIN "USER" ON MAIL.SENDER = "USER".NO
		    JOIN MAIL_RECIPIENT ON MAIL.NO = MAIL_RECIPIENT.MAIL_NO
		    LEFT OUTER JOIN (SELECT MAIL_NO, COUNT(MAIL_NO) AS MAIL_ATTACHMENT_CNT
				FROM MAIL_ATTACHMENT
				GROUP BY MAIL_NO) TEMP ON MAIL.NO = TEMP.MAIL_NO
		WHERE DELETE_CHECK = 'X'
			AND READ_CHECK = 'X'
			AND BOOKMARK_CHECK = 'O'
			AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{mail})
	
	</select>
	
	
	<select id="getMailDetailByNo" resultType="MailVo">
	
		SELECT 
			M.NO,
			U.NAME AS "SENDER",
			PREV_NO,
			TITLE,
			CONTENT,
			SEND_DATE
		FROM MAIL M
			JOIN "USER" U ON M.SENDER = U.NO
		WHERE M.NO = #{no}
	
	</select>
	
	
	<select id="getMailAttachmentListByMailNo" resultType="MailAttachmentVo">
	
		SELECT NO, MAIL_NO, ORIGIN_NAME, CHANGE_NAME
		FROM MAIL_ATTACHMENT
		WHERE MAIL_NO = #{no}
	
	</select>
	
	<update id="readCheckRecipient">
		
		UPDATE MAIL_RECIPIENT
		SET READ_CHECK = 'O'
		WHERE MAIL_NO = #{mailNo}
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{userMail})
		
	</update>
	
	<update id="readCheckCC">
	
		UPDATE MAIL_CC
		SET READ_CHECK = 'O'
		WHERE MAIL_NO =	#{mailNo}
		    AND CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{userMail})
	
	</update>
	
	
	<select id="getMailRecipientByMailNo" resultType="UserVo">
	
		SELECT U.NAME, U.MAIL
		FROM "USER" U
		WHERE U.NO IN (
		    SELECT RECEIVER_NO
		    FROM MAIL_RECIPIENT
		    WHERE MAIL_NO = #{no}
		    )
	
	</select>
  
  
  	<select id="getMailCcByMailNo" resultType="UserVo">
	
		SELECT U.NAME, U.MAIL
		FROM "USER" U
		WHERE U.NO IN (
			    SELECT CC_NO
			    FROM MAIL_CC
			    WHERE MAIL_NO = #{no}
			    AND BCC_CHECK = 'X'
		    )
		    
	</select>
  
  
  	<update id="mailListReadCheck1">
		
		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MAIL_RECIPIENT
			SET READ_CHECK = 'O'
			<where>
				MAIL_NO = #{item.mailNo}
			    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{item.userMail})
			</where>
		</foreach>
  	
  	</update>
  	
  	<update id="mailListReadCheck2">
		
		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MAIL_CC
			SET READ_CHECK = 'O'
			<where>
				MAIL_NO = #{item.mailNo}
			    AND CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{item.userMail})
			</where>
		</foreach>
  	
  	</update>
  	
  	<update id="mailListUnreadCheck1">
  	
  		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MAIL_RECIPIENT
			SET READ_CHECK = 'X'
			<where>
				MAIL_NO = #{item.mailNo}
			    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{item.userMail})
			</where>
		</foreach>
  	
  	</update>
  	
  	<update id="mailListUnreadCheck2">
  	
  		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MAIL_CC
			SET READ_CHECK = 'X'
			<where>
				MAIL_NO = #{item.mailNo}
			    AND CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{item.userMail})
			</where>
		</foreach>
  	
  	</update>
  	
  	<update id="mailListDump">
		
		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MAIL_RECIPIENT
			SET DELETE_CHECK = 'O'
			<where>
				MAIL_NO = #{item.mailNo}
			    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{item.userMail})
			</where>
		</foreach>
  	
  	</update>
  	
  	<update id="mailListDump2">
		
		<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE MAIL_CC
			SET DUMP_CHECK = 'O'
			<where>
				MAIL_NO = #{item.mailNo}
			    AND CC_NO = (SELECT NO FROM "USER" WHERE MAIL = #{item.userMail})
			</where>
		</foreach>
  	
  	</update>
  	
  	
  	<update id="addBookmark">
		
		UPDATE MAIL_RECIPIENT
		SET BOOKMARK_CHECK = 'O'
		WHERE MAIL_NO = #{mailNo}
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{userMail})
  	
  	</update>
  	
  	<update id="removeBookmark">
		
		UPDATE MAIL_RECIPIENT
		SET BOOKMARK_CHECK = 'X'
		WHERE MAIL_NO = #{mailNo}
		    AND RECEIVER_NO = (SELECT NO FROM "USER" WHERE MAIL = #{userMail})
  	
  	</update>
  	
  	
  	<select id="getFolderList" resultType="MailBoxVo">
  	
  		SELECT NO, USER_NO, NAME
  		FROM MAILBOX
  		WHERE USER_NO = #{no}
  	
  	</select>
  	
  	
  	<insert id="createFolder">
  	
  		INSERT INTO MAILBOX
  		(
  			NO,
  			USER_NO,
			NAME
  		)
  		VALUES
  		(
  			SEQ_MAILBOX_NO.NEXTVAL,
  			#{userNo},
  			#{folderName}
  		)
  	
  	</insert>
  	
  	<update id="deleteMailBoxNoInMail">
  	
  		UPDATE MAIL_RECIPIENT
  		SET MAILBOX_NO = NULL
  		WHERE MAILBOX_NO = #{no}
  	
  	</update>

	<delete id="deleteMailBoxByNo">
	
		DELETE FROM MAILBOX WHERE NO = #{no}
	
	</delete>
  
</mapper>