<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="meetingroom">

	<!-- 회의실 리스트 -->
	<select id="selectList" resultType="com.kh.zoody.meetingroom.vo.MeetingroomVo">
		SELECT            
		    NO
		    ,NAME
		    ,INFO
		    ,TO_CHAR(ENROLLDATE, 'YYYY') AS ENROLLDATE
		    ,TO_CHAR(MODIFYDATE, 'YYYY') AS MODIFYDATE
		    ,STATUS
		    ,ORIGIN_NAME
		    ,CHANGE_NAME
		    ,CAPACITY
		FROM MEETINGROOM
		WHERE STATUS = 'O'
	</select>
	
	<!-- 회의실 추가 -->
	<insert id="addMeetingroom">
		INSERT INTO MEETINGROOM (NO, NAME, INFO,ORIGIN_NAME,CHANGE_NAME, CAPACITY) 
    		VALUES (SEQ_MEETINGROOM_NO.NEXTVAL, #{name}, #{info},#{originName},#{changeName}, #{capacity})
	</insert>
	
	<update id="mtDelete">
		UPDATE MEETINGROOM
		SET STATUS = 'X'
		WHERE NO = #{no}
	</update>
	
	<select id="selectDetail" resultType="com.kh.zoody.meetingroom.vo.MeetingroomVo">
		SELECT            
		    NO
		    ,NAME
		    ,INFO
		    ,TO_CHAR(ENROLLDATE, 'YYYY') AS ENROLLDATE
		    ,TO_CHAR(MODIFYDATE, 'YYYY') AS MODIFYDATE
		    ,STATUS
		    ,ORIGIN_NAME
		    ,CHANGE_NAME
		    ,CAPACITY
		FROM MEETINGROOM
		WHERE STATUS = 'O'
		AND NO = #{no}
	</select>
	
	<update id="updateMeetingroom">
		UPDATE MEETINGROOM
		SET 
			NAME = #{name},
			INFO = #{info},
			ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName},
			CAPACITY = #{capacity},
			MODIFYDATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<select id="getReservedTimes" resultType="com.kh.zoody.meetingroom.vo.MeetingroomReservationVo">
		SELECT
		    MR.NO
		    ,MR.MEETINGROOM_NO
		    ,MR.USER_NO
		    ,MR."DATE"
		    ,MR.START_TIME
    		,LPAD(MR.END_TIME, 2, '0') || ':00' AS END_TIME
		    ,MR.STATUS
		FROM MEETINGROOM_RESERVATION MR
		JOIN MEETINGROOM M
		ON MR.MEETINGROOM_NO = M.NO
		WHERE MR.STATUS = 0
		AND MR.MEETINGROOM_NO = #{meetingroomNo}
		AND MR."DATE" = #{date}
	</select>
	
	<insert id="addReserve">
		INSERT INTO MEETINGROOM_RESERVATION (
				"NO", 
				"MEETINGROOM_NO", 
				"USER_NO", 
				"DATE", 
				"START_TIME"
			)
   			VALUES (
	    		SEQ_MEETINGROOM_RESERVATION_NO.NEXTVAL, 
	    		#{meetingroomNo}, 
	    		#{userNo}, 
	    		#{date}, 
	    		#{startTime}
    		)
	</insert>

  
</mapper>