<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">
  
  <select id="list" resultType="NoticeVo">
  	SELECT 
	    NO
	    ,ADMIN_NO
	    ,CATEGORY_NO
	    ,TITLE
	    ,CONTENT
	    ,ENROLL_DATE
	    ,STATUS
	    ,ORIGIN_NAME
	    ,CHANGE_NAME
	    ,RIGHTCLICK_YN
	    ,COMMNET_YN
	    ,BOARD_LIMIT
	FROM NOTICE
  </select>
</mapper>