<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">
  
  <select id="list" resultType="NoticeVo">
  	SELECT 
	    NO
	    ,ADMIN_NO
	    ,CATEGORY_NO
	    ,TITLE
	    ,CONTENT
	    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE 
	    ,STATUS
	    ,ORIGIN_NAME
	    ,CHANGE_NAME
	    ,RIGHTCLICK_YN
	    ,COMMENT_YN
	    ,BOARD_LIMIT
	    ,HIT
	FROM NOTICE
	WHERE STATUS = 'O'
	ORDER BY NO DESC
  </select>
  
  <select id="getNoticeListCnt" resultType="int">
  	SELECT COUNT(NO)
	FROM NOTICE
	WHERE STATUS = 'O'
  </select>
  
  <insert id="insertCopy">
	  INSERT INTO NOTICE
	  (
	    NO
	    , ADMIN_NO
	    , CATEGORY_NO
	    , TITLE
	    , CONTENT
	    , ENROLL_DATE
	    , STATUS
	    , ORIGIN_NAME
	    , CHANGE_NAME
	    , RIGHTCLICK_YN
	    , COMMENT_YN
	    , BOARD_LIMIT
	    , HIT
	  )
	  SELECT
	  	SEQ_NOTICE_NO.NEXTVAL
	    , ADMIN_NO
	    , CATEGORY_NO
	    , TITLE
	    , CONTENT
	    , TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS ENROLL_DATE
	    , STATUS
	    , ORIGIN_NAME
	    , CHANGE_NAME
	    , RIGHTCLICK_YN
	    , COMMENT_YN
	    , BOARD_LIMIT
	    , HIT
	  FROM NOTICE
	  WHERE NO IN
	  <foreach collection="list" item="no" separator="," open="(" close=")">
	  	#{no}
	  </foreach>
	</insert>
	
	<delete id="delete">
		UPDATE NOTICE
		SET STATUS = 'X'
		WHERE NO IN
		<foreach collection="list" item="no" separator="," open="(" close=")">
	   	 #{no}
	  	</foreach>
	</delete>
		
	<select id="detail" resultType="NoticeVo">
		SELECT 
		    NO
		    ,ADMIN_NO
		    ,CATEGORY_NO
		    ,TITLE
		    ,CONTENT
		    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE 
		    ,STATUS
		    ,ORIGIN_NAME
		    ,CHANGE_NAME
		    ,RIGHTCLICK_YN
		    ,COMMENT_YN
		    ,BOARD_LIMIT
		    ,HIT
		FROM NOTICE
		WHERE NO = #{no}
	</select>
	
	<update id="increaseHit">
		UPDATE NOTICE
		SET HIT = HIT + 1
		WHERE NO = ${no}
	</update>
	
	<select id="selectEdit" resultType="NoticeVo">
		SELECT 
		    NO
		    ,ADMIN_NO
		    ,CATEGORY_NO
		    ,TITLE
		    ,CONTENT
		    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE 
		    ,STATUS
		    ,ORIGIN_NAME
		    ,CHANGE_NAME
		    ,RIGHTCLICK_YN
		    ,COMMENT_YN
		    ,BOARD_LIMIT
		    ,HIT
		FROM NOTICE
		WHERE NO = #{no}
	</select>
</mapper>