<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="notice">
  
  <select id="list" resultType="NoticeVo">
  	SELECT 
	    NO
	    ,ADMIN_NO
	    ,CATEGORY_NO
	    ,TITLE
	    ,CONTENT
	    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE 
	    ,STATUS
	    ,ORIGIN_NAME
	    ,CHANGE_NAME
	    ,RIGHTCLICK_YN
	    ,COMMENT_YN
	    ,BOARD_LIMIT
	    ,HIT
	FROM NOTICE
	WHERE STATUS = 'O'
	<if test="searchType != null and searchType != '' and searchValue != null and searchValue != '' ">
		AND ${searchType} LIKE '%${searchValue}%'
	</if>
	ORDER BY NO DESC
  </select>
  
  <select id="getNoticeListCnt" resultType="int">
  	SELECT COUNT(NO)
	FROM NOTICE
	WHERE STATUS = 'O'
	<if test="searchType != null and searchType != '' and searchValue != null and searchValue != '' ">
		AND ${searchType} LIKE '%${searchValue}%'
	</if>
  </select>
  
  <insert id="insertCopy">
	  INSERT INTO NOTICE
	  (
	    NO
	    , ADMIN_NO
	    , CATEGORY_NO
	    , TITLE
	    , CONTENT
	    , ENROLL_DATE
	    , STATUS
	    , ORIGIN_NAME
	    , CHANGE_NAME
	    , RIGHTCLICK_YN
	    , COMMENT_YN
	    , BOARD_LIMIT
	    , HIT
	  )
	  SELECT
	  	SEQ_NOTICE_NO.NEXTVAL
	    , ADMIN_NO
	    , CATEGORY_NO
	    , TITLE
	    , CONTENT
	    , TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS ENROLL_DATE
	    , STATUS
	    , ORIGIN_NAME
	    , CHANGE_NAME
	    , RIGHTCLICK_YN
	    , COMMENT_YN
	    , BOARD_LIMIT
	    , 0
	  FROM NOTICE
	  WHERE NO IN
	  <foreach collection="list" item="no" separator="," open="(" close=")">
	  	#{no}
	  </foreach>
	</insert>
	
	<delete id="delete">
		UPDATE NOTICE
		SET STATUS = 'X'
		WHERE NO IN
		<foreach collection="list" item="no" separator="," open="(" close=")">
	   	 #{no}
	  	</foreach>
	</delete>
		
	<select id="detail" resultType="NoticeVo">
		SELECT 
		    NO
		    ,ADMIN_NO
		    ,CATEGORY_NO
		    ,TITLE
		    ,CONTENT
		    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE 
		    ,STATUS
		    ,ORIGIN_NAME
		    ,CHANGE_NAME
		    ,RIGHTCLICK_YN
		    ,COMMENT_YN
		    ,BOARD_LIMIT
		    ,HIT
		FROM NOTICE
		WHERE NO = #{no}
	</select>
	
	<update id="increaseHit">
		UPDATE NOTICE
		SET HIT = HIT + 1
		WHERE NO = ${no}
	</update>
	
	<select id="selectEdit" resultType="NoticeVo">
		SELECT 
		    NO
		    ,ADMIN_NO
		    ,CATEGORY_NO
		    ,TITLE
		    ,CONTENT
		    ,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE 
		    ,STATUS
		    ,ORIGIN_NAME
		    ,CHANGE_NAME
		    ,RIGHTCLICK_YN
		    ,COMMENT_YN
		    ,BOARD_LIMIT
		    ,HIT
		FROM NOTICE
		WHERE NO = #{no}
	</select>
	
	<update id="edit">
		UPDATE NOTICE
		<set>
			<if test="title != null">TITLE = #{title},</if>
			<if test="content != null">CONTENT = #{content},</if>
			<if test="enrollDate != null">ENROLL_DATE = #{enrollDate},</if>
			<if test="status != null">STATUS = #{status},</if>
			<if test="originName != null">ORIGIN_NAME = #{originName},</if>
			<if test="changeName != null">CHANGE_NAME = #{changeName},</if>
			<if test="rightclickYn != null">RIGHTCLICK_YN = #{rightclickYn},</if>
			<if test="commentYn != null">COMMENT_YN = #{commentYn},</if>
			<if test="boardLimit != null">BOARD_LIMIT = #{boardLimit},</if>
			<if test="hit != null">HIT = #{hit},</if>
		</set>
		WHERE NO = #{no}
	</update>
	
	<insert id="write">
		INSERT INTO NOTICE
		(
			NO
			, ADMIN_NO
			, CATEGORY_NO
			, TITLE
			, CONTENT
			, CHANGE_NAME
			, RIGHTCLICK_YN
			, COMMENT_YN
			, BOARD_LIMIT
			, HIT
		)
		VALUES
		(
			SEQ_NOTICE_NO.NEXTVAL
			, 1
			, 1
			, #{title}
			, #{content}
			, #{changeName}
			, #{rightclickYn}
			, #{commentYn}
			, #{boardLimit}
			, 0
		)
	</insert>
	
	<insert id="reply">
		INSERT INTO REPLY
		(
			NO
			, SUGGESTION_NO
			, NOTICE_NO
			, USER_NO
			, CONTENT
			, ENROLL_DATE
			, MODIFY_DATE
			, STATUS
		)	
		VALUES
		(
			SEQ_REPLY_NO.NEXTVAL
			, #{suggestionNo}
			, #{noticeNo}
			, 2
			, #{content}
			, SYSDATE
			, #{modifyDate}
			, 'O'
		)
	</insert>
	
	<select id="selectReply" resultType="ReplyVo">
		SELECT 
		    R.NO
		    , U.NAME
		    , R.SUGGESTION_NO
		    , K.NAME AS RANK_NAME
		    , R.NOTICE_NO
		    , R.USER_NO
		    , R.CONTENT
		    , TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE
		    , TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE
		    , R.STATUS
		FROM REPLY R JOIN "USER" U ON R.USER_NO = U.NO
		JOIN RANK K ON K.NO = U.RANK_NO
		WHERE 
		<if test="suggestionNo != null or noticeNo != null">
        (
            <if test="suggestionNo != null">SUGGESTION_NO = #{suggestionNo}</if>
            <if test="noticeNo != null">OR NOTICE_NO = #{noticeNo}</if>
        )
        AND STATUS = 'O'
        ORDER BY R.NO DESC
    </if>
	</select>
	
	<update id="replyDelete">
		UPDATE REPLY
		SET STATUS = 'X'
		WHERE NOTICE_NO = #{noticeNo}
		AND NO = #{no}
	</update>
	
	<select id="replyCnt" resultType="int">
		SELECT COUNT(NO)
		FROM REPLY
		WHERE NOTICE_NO = #{no}
		AND STATUS = 'O'
	</select>
	
	<select id="replyCntAll" resultType="java.lang.Integer">
		SELECT COUNT(NO)
		FROM REPLY
		WHERE NOTICE_NO IN 
		<foreach collection="list" item="no" separator="," open="(" close=")">
	   	 #{no}
	  	</foreach>
		GROUP BY NOTICE_NO
	</select>
</mapper>