<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="project">
  
  <select id="selectUser" resultType="UserVo">
  	SELECT
	    U.NO
	    , U.DEPARTMENT_NO
	    , U.RANK_NO
	    , R.NAME AS RANK_NAME
	    , U.POSITION_NO
	    , U.STATE_NO
	    , U.AGENT
	    , U.DIVISION_NO
	    , U.ID
	    , U.PWD
	    , U.NAME
	    , U.GENDER
	    , U.BIRTH_DATE
	    , U.PROFILE
	    , U.LINE_INTRO
	    , U.ADDRESS
	    , U.PHONE
	    , U.MAIL
	    , U.REGISTRATION_DATE
	    , U.LEAVE_REASON
	    , U.LEAVE_DATE
	    , U.OFFICE_NUMBER
	    , U.LEAVE_COUNT
	    , U.CAPACITY
	FROM "USER" U
	JOIN RANK R ON U.RANK_NO = R.NO 
  </select>
  
  <insert id="insertPrj">
  	INSERT INTO PROJECT
	(
	  	NO
		, TITLE
		, CONTENT
		, START_DATE
		, END_DATE
		, TEAM_NAME
	)
	VALUES
	( 
		SEQ_PROJECT_NO.NEXTVAL
		, #{title}
		, #{content}
		, #{startDate}
		, #{endDate}
		, #{title}
	)
  </insert>
  
  <select id="getPrjNo" resultType="ProjectVo">
  	SELECT
  		NO
		, TITLE
		, CONTENT
		, START_DATE
		, END_DATE
		, TEAM_NAME
	FROM PROJECT
	WHERE TEAM_NAME = #{teamName}
  </select>
</mapper>