<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="user">

	<select id="getAllUserInfo" resultType="UserVo">
	
		SELECT 
			A.NO AS NO,
			DEPARTMENT_NO,
			B.NAME AS DEPARTMENT_NAME,
			C.NAME AS RANK_NAME,
			D.NAME AS POSITION_NAME,
			E.NAME AS STATE_NAME,
			AGENT,
			F.EMPLOY_DIVISION AS DIVISION_NAME,
			ID,
			PWD,
			A.NAME AS NAME,
			GENDER,
			BIRTH_DATE,
			PROFILE,
			LINE_INTRO,
			ADDRESS,
			PHONE,
			MAIL,
			REGISTRATION_DATE,
			LEAVE_REASON,
			LEAVE_DATE,
			OFFICE_NUMBER,
			LEAVE_COUNT,
			CAPACITY
		FROM "USER" A
			JOIN DEPARTMENT B ON A.DEPARTMENT_NO = B.NO
			JOIN RANK C ON A.RANK_NO = C.NO
			JOIN POSITION D ON A.POSITION_NO = D.NO
			JOIN USER_STATE E ON A.STATE_NO = E.NO
			JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE NOT STATE_NO = 3
	
	</select>
	
	<select id="getUserNameAndRankInfo" resultType="UserVo">
	
		SELECT 
			A.NO AS NO,
			DEPARTMENT_NO,
			B.NAME AS DEPARTMENT_NAME,
			C.NAME AS RANK_NAME,
			E.NAME AS STATE_NAME,
			A.NAME AS NAME
		FROM "USER" A
			JOIN DEPARTMENT B ON A.DEPARTMENT_NO = B.NO
			JOIN RANK C ON A.RANK_NO = C.NO
			JOIN POSITION D ON A.POSITION_NO = D.NO
			JOIN USER_STATE E ON A.STATE_NO = E.NO
			JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE NOT STATE_NO = 3
	
	</select>
	
	
	<select id="getUserDetailInfoByNo" resultType="UserVo">
	
		SELECT 
			A.NO AS NO,
			DEPARTMENT_NO,
			B.NAME AS DEPARTMENT_NAME,
			C.NAME AS RANK_NAME,
			D.NAME AS POSITION_NAME,
			E.NAME AS STATE_NAME,
			AGENT,
			F.EMPLOY_DIVISION AS DIVISION_NAME,
			A.NAME AS NAME,
			GENDER,
			BIRTH_DATE,
			PROFILE,
			LINE_INTRO,
			ADDRESS,
			PHONE,
			MAIL,
			REGISTRATION_DATE,
			OFFICE_NUMBER,
			LEAVE_COUNT
		FROM "USER" A
			JOIN DEPARTMENT B ON A.DEPARTMENT_NO = B.NO
			JOIN RANK C ON A.RANK_NO = C.NO
			JOIN POSITION D ON A.POSITION_NO = D.NO
			JOIN USER_STATE E ON A.STATE_NO = E.NO
			JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE A.NO = #{userNo}
	
	</select>

	<insert id="enroll">
		INSERT INTO "USER"
		(
		   	NO
		    , DEPARTMENT_NO
		    , RANK_NO
		    , POSITION_NO
		    , STATE_NO
		    , AGENT
		    , DIVISION_NO
		    , ID
		    , PWD
		    , NAME
		    , GENDER
		    , BIRTH_DATE
		    , PROFILE
		    , LINE_INTRO
		    , ADDRESS
		    , PHONE
		    , MAIL
		    , REGISTRATION_DATE
		    , OFFICE_NUMBER
		    , LEAVE_COUNT
		    , LEAVE_DATE
		    , LEAVE_REASON
		    , CAPACITY
		)
		VALUES
		(
		    SEQ_USER_NO.NEXTVAL
		    , #{departmentNo}
		    , #{rankNo}
		    , #{positionNo}
		    , #{stateNo}
		    , #{agent}
		    , #{divisionNo}
		    , #{id}
		    , #{pwd}
		    , #{name}
		    , #{gender}
		    , #{birthDate}
		    , #{profile}
		    , #{lineIntro}
		    , #{address}
		    , #{phone}
		    , #{mail}
		    , #{registrationDate}
		    , #{officeNumber}
		    , #{leaveCount}
		    , #{leaveDate}
		    , #{leaveReason}
		    , 500
		)
		
	</insert>
	
	<select id="getEmployeeListCnt" resultType="int">
		SELECT COUNT(NO)
		FROM "USER"
		WHERE STATE_NO = '1'
	</select>
	
	<select id="list" resultType="UserVo">
		SELECT
			NO
			, DEPARTMENT_NO
			, RANK_NO
			, POSITION_NO
			, STATE_NO
			, AGENT
			, DIVISION_NO
			, ID
			, PWD
			, NAME
			, GENDER
			, BIRTH_DATE
			, PROFILE
			, LINE_INTRO
			, ADDRESS
			, PHONE
			, MAIL
			, REGISTRATION_DATE
			, LEAVE_REASON
			, LEAVE_DATE
			, OFFICE_NUMBER
			, LEAVE_COUNT
			, CAPACITY
		FROM "USER"
		WHERE STATE_NO = '1'
	</select>
  
</mapper>