<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="user">

	<select id="getAllUserInfo" resultType="UserVo">
	
		SELECT 
			A.NO AS NO,
			DEPARTMENT_NO,
			B.NAME AS DEPARTMENT_NAME,
			C.NAME AS RANK_NAME,
			D.NAME AS POSITION_NAME,
			E.NAME AS STATE_NAME,
			AGENT,
			F.EMPLOY_DIVISION AS DIVISION_NAME,
			ID,
			PWD,
			A.NAME AS NAME,
			GENDER,
			BIRTH_DATE,
			PROFILE,
			LINE_INTRO,
			ADDRESS,
			PHONE,
			MAIL,
			REGISTRATION_DATE,
			LEAVE_REASON,
			LEAVE_DATE,
			OFFICE_NUMBER,
			LEAVE_COUNT,
			CAPACITY
		FROM "USER" A
			JOIN DEPARTMENT B ON A.DEPARTMENT_NO = B.NO
			JOIN RANK C ON A.RANK_NO = C.NO
			JOIN POSITION D ON A.POSITION_NO = D.NO
			JOIN USER_STATE E ON A.STATE_NO = E.NO
			JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE NOT STATE_NO = 3
	
	</select>
	
	<select id="getUserNameAndRankInfo" resultType="UserVo">
	
		SELECT 
			A.NO AS NO,
			DEPARTMENT_NO,
			B.NAME AS DEPARTMENT_NAME,
			C.NAME AS RANK_NAME,
			C.GRADE AS GRADE,
			E.NAME AS STATE_NAME,
			A.NAME AS NAME
		FROM "USER" A
			JOIN DEPARTMENT B ON A.DEPARTMENT_NO = B.NO
			JOIN RANK C ON A.RANK_NO = C.NO
			JOIN POSITION D ON A.POSITION_NO = D.NO
			JOIN USER_STATE E ON A.STATE_NO = E.NO
			JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE NOT STATE_NO = 3
		ORDER BY GRADE
	
	</select>

	<select id="getUserDetailInfoByNo" resultType="UserVo">
	
		SELECT 
			A.NO AS NO,
			DEPARTMENT_NO,
			B.NAME AS DEPARTMENT_NAME,
			C.NAME AS RANK_NAME,
			D.NAME AS POSITION_NAME,
			E.NAME AS STATE_NAME,
			AGENT,
			F.EMPLOY_DIVISION AS DIVISION_NAME,
			A.NAME AS NAME,
			GENDER,
			BIRTH_DATE,
			PROFILE,
			LINE_INTRO,
			ADDRESS,
			PHONE,
			MAIL,
			REGISTRATION_DATE,
			OFFICE_NUMBER,
			LEAVE_COUNT
		FROM "USER" A
			JOIN DEPARTMENT B ON A.DEPARTMENT_NO = B.NO
			JOIN RANK C ON A.RANK_NO = C.NO
			JOIN POSITION D ON A.POSITION_NO = D.NO
			JOIN USER_STATE E ON A.STATE_NO = E.NO
			JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE A.NO = #{userNo}
	
	</select>
	
	<select id="getUserDetailInfoByNo2" resultType="UserVo">
	
		SELECT 
		    A.NO AS NO,
		    DEPARTMENT_NO,
		    B.D_NAME1,
		    B.D_NAME2,
		    B.D_NAME3,
		    B.D_NAME4,
		    C.NAME AS RANK_NAME,
		    D.NAME AS POSITION_NAME,
		    E.NAME AS STATE_NAME,
		    AGENT,
		    F.EMPLOY_DIVISION AS DIVISION_NAME,
		    ID,
		    PWD,
		    A.NAME AS NAME,
		    GENDER,
		    BIRTH_DATE,
		    PROFILE,
		    LINE_INTRO,
		    ADDRESS,
		    PHONE,
		    MAIL,
		    REGISTRATION_DATE,
		    LEAVE_REASON,
		    LEAVE_DATE,
		    OFFICE_NUMBER,
		    LEAVE_COUNT,
		    CAPACITY
		FROM "USER" A
		    JOIN (
		        SELECT D.NO AS TOP_MOST_NO, A.NAME AS D_NAME1, B.NAME AS D_NAME2, C.NAME AS D_NAME3, D.NAME AS D_NAME4
		        FROM DEPARTMENT A
		            RIGHT JOIN DEPARTMENT B ON A.NO = B.UPPER_DEPARTMENT_NO
		            RIGHT JOIN DEPARTMENT C ON B.NO = C.UPPER_DEPARTMENT_NO
		            RIGHT JOIN DEPARTMENT D ON C.NO = D.UPPER_DEPARTMENT_NO
		    ) B ON A.DEPARTMENT_NO = B.TOP_MOST_NO
		    JOIN RANK C ON A.RANK_NO = C.NO
		    JOIN POSITION D ON A.POSITION_NO = D.NO
		    JOIN USER_STATE E ON A.STATE_NO = E.NO
		    JOIN EMPLOY_DIVISION F ON A.DIVISION_NO = F.NO
		WHERE A.NO = #{userNo}
	
	</select>
	

	<insert id="enroll">
		INSERT INTO "USER"
		(
		   	NO
		    , DEPARTMENT_NO
		    , RANK_NO
		    , POSITION_NO
		    , STATE_NO
		    , AGENT
		    , DIVISION_NO
		    , ID
		    , PWD
		    , NAME
		    , GENDER
		    , BIRTH_DATE
		    , PROFILE
		    , LINE_INTRO
		    , ADDRESS
		    , PHONE
		    , MAIL
		    , REGISTRATION_DATE
		    , OFFICE_NUMBER
		    , LEAVE_COUNT
		    , LEAVE_DATE
		    , LEAVE_REASON
		    , CAPACITY
		)
		VALUES
		(
		    SEQ_USER_NO.NEXTVAL
		    , #{departmentNo}
		    , #{rankNo}
		    , #{positionNo}
		    , #{stateNo}
		    , #{agent}
		    , #{divisionNo}
		    , #{id}
		    , #{pwd}
		    , #{name}
		    , #{gender}
		    , #{birthDate}
		    , #{profile}
		    , #{lineIntro}
		    , #{address}
		    , #{phone}
		    , #{mail}
		    , #{registrationDate}
		    , #{officeNumber}
		    , #{leaveCount}
		    , #{leaveDate}
		    , #{leaveReason}
		    , 500
		)
		
	</insert>
	
	<select id="getEmployeeListCnt" resultType="int">
		SELECT COUNT(NO)
		FROM "USER"
		WHERE STATE_NO = '1'
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != '' ">
			AND ${searchType} LIKE '%${searchValue}%'
		</if>
	</select>
	
	<select id="list" resultType="UserVo">
		SELECT
			U.NO
			, U.DEPARTMENT_NO
            , D.NAME AS DEPARTMENT_NAME
			, U.RANK_NO
            , R.NAME AS RANK_NAME
			, U.POSITION_NO
			, U.STATE_NO
			, U.AGENT
			, U.DIVISION_NO
			, U.ID
			, U.PWD
			, U.NAME
			, U.GENDER
			, U.BIRTH_DATE
			, U.PROFILE
			, U.LINE_INTRO
			, U.ADDRESS
			, U.PHONE
			, U.MAIL
			, U.REGISTRATION_DATE
			, U.LEAVE_REASON
			, U.LEAVE_DATE
			, U.OFFICE_NUMBER
			, U.LEAVE_COUNT
			, U.CAPACITY
		FROM "USER" U JOIN DEPARTMENT D ON U.DEPARTMENT_NO = D.NO
        JOIN RANK R ON U.RANK_NO = R.NO
		WHERE STATE_NO = '1'
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != '' ">
			AND U.${searchType} LIKE '%${searchValue}%'
		</if>
		ORDER BY U.NO DESC
	</select>
  
  	<select id="detail" resultType="UserVo">
  		SELECT
			U.NO
			, U.DEPARTMENT_NO
            , D.NAME AS DEPARTMENT_NAME
            , R.NAME AS RANK_NAME
			, U.POSITION_NO
			, U.STATE_NO
			, U.AGENT
			, U.DIVISION_NO
			, U.ID
			, U.PWD
			, U.NAME
			, U.GENDER
			, U.BIRTH_DATE
			, U.PROFILE
			, U.LINE_INTRO
			, U.ADDRESS
			, U.PHONE
			, U.MAIL
			, U.REGISTRATION_DATE
			, U.LEAVE_REASON
			, U.LEAVE_DATE
			, U.OFFICE_NUMBER
			, U.LEAVE_COUNT
			, U.CAPACITY
		FROM "USER" U JOIN DEPARTMENT D ON U.DEPARTMENT_NO = D.NO
        JOIN RANK R ON U.RANK_NO = R.NO
		WHERE ID = #{id}
  	</select>
  	
  	<update id="edit">
		UPDATE "USER"
		<set>
	        <if test="departmentNo != null">DEPARTMENT_NO=#{departmentNo},</if>
	        <if test="rankNo != null">RANK_NO=#{rankNo},</if>
	        <if test="positionNo != null">POSITION_NO=#{positionNo},</if>
	        <if test="stateNo != null">STATE_NO=#{stateNo},</if>
	        <if test="agent != null">AGENT=#{agent},</if>
	        <if test="divisionNo != null">DIVISION_NO=#{divisionNo},</if>
	        <if test="id != null">ID=#{id},</if>
	        <if test="pwd != null">PWD=#{pwd},</if>
	        <if test="name != null">NAME=#{name},</if>
	        <if test="gender != null">GENDER=#{gender},</if>
	        <if test="birthDate != null">BIRTH_DATE=#{birthDate},</if>
	        <if test="profile != null">PROFILE=#{profile},</if>
	        <if test="lineIntro != null">LINE_INTRO=#{lineIntro},</if>
	        <if test="address != null">ADDRESS=#{address},</if>
	        <if test="phone != null">PHONE=#{phone},</if>
	        <if test="mail != null">MAIL=#{mail},</if>
	        <if test="registrationDate != null">REGISTRATION_DATE=#{registrationDate},</if>
	        <if test="officeNumber != null">OFFICE_NUMBER=#{officeNumber},</if>
	        <if test="leaveCount != null">LEAVE_COUNT=#{leaveCount},</if>
	        <if test="leaveDate != null">LEAVE_DATE=#{leaveDate},</if>
	        <if test="leaveReason != null">LEAVE_REASON=#{leaveReason},</if>
   		</set>
		WHERE NO = #{no}
  	</update>



	
	<select id="searchUserInfoByKeyword" resultType="UserVo">
	
		SELECT NAME, DEPARTMENT_NO
		FROM "USER"
		WHERE NAME LIKE '%'||#{keyword}||'%'
	
	</select>
	
	<select id="getBriefUserInfo" resultType="UserVo">
	
		SELECT 
			"USER".NO, 
			"USER".NAME, 
			MAIL, 
			PROFILE,
			"RANK".NAME AS RANK_NAME,
			GRADE,
			B.D_NAME1,
		    B.D_NAME2,
		    B.D_NAME3,
		    B.D_NAME4
		FROM "USER"
			JOIN "RANK" ON "USER".RANK_NO = "RANK".NO
			JOIN (
		        SELECT D.NO AS TOP_MOST_NO, A.NAME AS D_NAME1, B.NAME AS D_NAME2, C.NAME AS D_NAME3, D.NAME AS D_NAME4
		        FROM DEPARTMENT A
		            RIGHT JOIN DEPARTMENT B ON A.NO = B.UPPER_DEPARTMENT_NO
		            RIGHT JOIN DEPARTMENT C ON B.NO = C.UPPER_DEPARTMENT_NO
		            RIGHT JOIN DEPARTMENT D ON C.NO = D.UPPER_DEPARTMENT_NO
		    ) B ON "USER".DEPARTMENT_NO = B.TOP_MOST_NO
		WHERE "USER".NO = #{no}
	
	</select>



</mapper>