<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="work">
  
  <insert id="workInsert">
  
 	INSERT ALL 
	INTO AGENT ("NO" , "USER_NO") VALUES (SEQ_ANIMAL_WORK_NO.NEXTVAL, #{userNo})
	INTO ANIMAL_WORK ("NO" , "NAME" , "CONTENT" , "DATE")VALUES(SEQ_ANIMAL_WORK_NO.NEXTVAL , #{workName} , #{workContent}, #{endDate})
	SELECT * FROM DUAL

  </insert>
  
  <select id="getWorkNameAndDate" resultType="com.kh.zoody.work.vo.WorkVo">
  	SELECT 
   AW."NO" AS WORK_NO
   , AW."NAME" AS WORK_NAME
   , AW."CONTENT" AS WORK_CONTENT
   , TO_CHAR(AW."DATE",'YYYY-MM-DD') AS END_DATE
   , A."USER_NO" 
   FROM ANIMAL_WORK AW
   JOIN AGENT A ON AW.NO = A.NO
   WHERE USER_NO = #{no}
  </select>
  
  <select id="workList" resultType="com.kh.zoody.work.vo.WorkVo">
  	SELECT 
   AW."NO" AS WORK_NO
   , AW."NAME" AS WORK_NAME
   , AW."CONTENT" AS WORK_CONTENT
   , TO_CHAR(AW."DATE",'YYYY-MM-DD') AS END_DATE
   , A."USER_NO" 
   FROM ANIMAL_WORK AW
   JOIN AGENT A ON AW.NO = A.NO
   WHERE USER_NO = #{no}
  </select>
  
</mapper>