<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="work">
  
  <insert id="workInsert">
  
 	INSERT ALL 
	INTO ANIMAL_WORK ("NO" , "NAME"  ,"USER_NO" , "DATE")VALUES(SEQ_ANIMAL_WORK_NO.NEXTVAL , #{workName}, #{userNo} , #{endDate})
    INTO WORK_CHECKLIST ("NO", "NAME") VALUES (SEQ_WORK_CHECKLIST_NO.NEXTVAL , #{chaekListName} ,#{chaekListName} , #{chaekListName})
	SELECT * FROM DUAL

  </insert>
  
  <select id="getWorkNameAndDate" resultType="com.kh.zoody.work.vo.WorkVo">
	 SELECT 
		A.NO AS WORK_NO
		, A.NAME AS WORK_NAME
		, A.USER_NO AS USER_NO
		, A."DATE" AS END_DATE
		, W.NAME AS CHECK_LIST_NAME
		FROM WORK_CHECKLIST W
		JOIN ANIMAL_WORK A ON W.NO = A.NO
		WHERE A.NO = #{userNo}
  </select>
  
  <select id="workList" resultType="com.kh.zoody.work.vo.WorkVo">
  	 SELECT 
		A.NO AS WORK_NO
		, A.NAME AS WORK_NAME
		, A.USER_NO AS NO
		, A."DATE" AS END_DATE
		, W.NAME AS CHECK_LIST_NAME
		FROM WORK_CHECKLIST W
		JOIN ANIMAL_WORK A ON W.NO = A.NO
		WHERE A.NO = #{userNo}
  </select>
  
</mapper>