<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="work">
  
  <insert id="workInsert">
  	INSERT INTO ANIMAL_WORK
		(
		NO
		, NAME
		,CONTENT
		,"DATE"
		)
		VALUES
		(
		 SEQ_ANIMAL_WORK_NO.NEXTVAL
		 , #{workName}
		 , #{workContent}
		 , #{endDate}
		)
  </insert>
  
  <select id="getWorkNameAndDate" resultType="com.kh.zoody.work.vo.WorkVo">
  	SELECT 
	NO
	,NAME
	,CONTENT
	,TO_CHAR("DATE",'YYYY-MM-DD') AS "END_DATE"
	FROM ANIMAL_WORK
  </select>
  
  <select id="getUserList" resultType="com.kh.zoody.work.vo.WorkVo">
  	SELECT 
	U.NAME AS USER_NAME
	, D.NAME AS DEPT_NAME
	FROM "USER" U
	JOIN DEPARTMENT D ON U.DEPARTMENT_NO = D.NO
  </select>
  
</mapper>