/* 사이드바랑 메인 영역 나누기 */

#mt_wrap{
    display: grid;
    grid-template-columns: 264px auto;
}

#mt_main{
    /* background-color: red; */
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

/* 링크 이어주기 */
.mt_link{
    color: #BDBDBD;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%; /* 18.336px */
    letter-spacing: 0.96px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    list-style: none;
    justify-content: flex-end;
}

/* 입력 폼 */
table{
    border-spacing: 0;
    border-collapse: initial;
}

.board_view{
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid black;
}


.board_view th{
    font-size: 14px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    background-color: #00CBA4;;
    border-bottom: 1px solid #5e5e5e4b;
    color: aliceblue;
    text-align: center;
}

.board_view td{
    border-bottom: 1px solid #5e5e5e4b;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-size: 15px;
    height: 45px;
    text-align: left;
    color: #424242;
    padding: 10px 10px 10px;
    background-color: rgb(255, 255, 255);
}