* {
    color: #374957;
}

#wrap {
    width: 1903;
    height: calc(100% - 48px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#grid-wrap {
    width: calc(100% - 30px - 555px);
    height: calc(100% - 60px);
    margin: 30;
    display: grid;
    grid-template-rows: 1fr 8.5fr 0.5fr;
}

.boder-grid-header {
    align-self: end;
    margin-bottom: 20;
    font-size: 20;
    font-weight: 500;
}

.boder-grid-body {
    width: 1308.890;
    height: 704.656;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 0.7fr 2.3fr 7fr;
    justify-items: center;
}

.boder-grid-body > div {
    width: 95%;
    align-self: center;
    font-weight: 500;
}

.boder-grid-body-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area {
    display: flex;
    height: 30;
}

.search-area > select {
    width: 180;
    outline: none;
    background: transparent;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-content: center;
}

.search-area-search {
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}

.search-area-search > input {
    outline: none;
    border: none; 
    background: transparent;
    width: 78%;
    margin-left: 5px;
}

.boder-grid-body-meddle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boder-grid-body-meddle-notice{
    width: 1200;
    height: 125;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.25);
    border-left: 5px solid #4876EF;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

}

.boder-grid-body-meddle-notice > div {
    margin-left: 35;
}

.boder-grid-body-bottom {
    display: flex;
    height: 100%;
}

/* 테이블 설정 */
th {
    vertical-align: middle !important;
    text-align: center;
}

td {
    height: 64;
    color: #3A3A3A;
    font-weight: 300;
}

.list-table {
    width: 100%;
    height: 100%;
}

.list-table > thead{
    height: 65;
}

.list-table > thead > tr {
    border: 3px solid #D7D7D7;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 65;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.list-table > tbody {
    height: 405;
    display: block;
    overflow: auto;
    -ms-overflow-style: none; /* 익스플로러, 앳지 */
    scrollbar-width: none; /* 파이어폭스 */
}

.list-table > tbody::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라 */
}

.list-table > tbody > tr {
    height: 45;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    vertical-align: middle;
}

.list-table > tbody  td {
    height: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-weight: 400;
    color: #454545;
    font-size: 15;
}

.boder-grid-footer {
    justify-self: center;
    align-self: end;
}

.boder-grid-footer-page {
    width: 240;
    height: 35;
}


/* 투표 설정 */
.boder-grid-body-bottom.vote{
    display: flex;
    height: 100%;
    border-top: 3px solid #D7D7D7;
    justify-items: start;
    align-items: center;
    justify-content: center;
}

.boder-grid-body-bottom.vote > .list-div {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 60px;

    align-items: center;
    justify-items: start;
    align-content: center;
}

.list-div-item {
    background-color: #D7D7D7;
    width: 350;
    height: 175;

    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;

    display: flex;
}

.list-div-item > div{
    width: 100%;
    height: 100%;
}

.list-div-item > .list-div-item-img {
    overflow: hidden;
    background-color: #D7D7D7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-div-item-img  > img {
    max-width: 175;
    max-height: 175;
}

.list-div-item > .list-div-item-info {
    background-color: #ffffff;
    border-top: 10px solid #4876ef;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    align-items: center;
    justify-items: start;
}

.list-div-item-info > span {
    font-size: 12;
    font-weight: 500;
    color: #454545;

    margin-left: 10;
}

.list-div-item-info > span:first-child {
    grid-column: span 2;
    justify-self: start;
    font-size: 15;
    color: #3A3A3A;
}



/* 모달 */
.modal-window {
    width: 725;
    height: 700;


    display: grid;
    grid-template-rows: 40px 660px;

}

.modal-header {
    width: 100%;
    height: 100%;

    background-color: #4876EF;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.modal-header > span {
    width: 21;
    height: 21;
    margin-right: 10;
}

.modal-body {
    width: 100%;
    height: 100%;
    
    display: grid;
    justify-items: center;
    align-items: center;
}

.modal-body > div:first-child {
    width: 60%;

    background-color: #4876ef;
}