#sidebar{
    width: 255px;
    height: 93vh;
    background-color: white;
    border-right: 1px solid rgb(213, 213, 213);
}

#storage{
    width: 264px;
    height: 42px;
    background-color: #4876EF;
    position: absolute;
    bottom: 0px;
    color: white;
}

   

    
    
/*--------------------------- 사이드바css 는 나중에 따로 header.css로 분리 예정----------------------------------*/

  /* 노멀라이즈 시작 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
  }
  
  a {
    color: inherit;   /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
  }
  /* 노멀라이즈 끝 */
  
  /* 커스텀 시작 */
  .side-bar > ul ul {
    display: none;
  }
  
  /* 사이드바 시작 */
  
  /* 사이드바의 너비와 높이를 변수를 통해 통제 */
  :root {
    --side-bar-width: 264px;
    --side-bar-height: 922px;
  }
  
  .side-bar {
    background-color: white;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height);   /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
  }
  
  /* 아이콘 시작 */
  .side-bar__icon-box {
    display: flex;
    justify-content: flex-end;
  }
  
  .side-bar__icon-1 {
    position: relative;
    width: 23px;
    height: 17px;
    margin: 15px;
    margin-top: 20px;
    transition: .5s;
  }
  
  :root {
    --side-bar__icon: .5s;
  }
  
  .side-bar__icon-1 > div {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: all var(--side-bar__icon);
  }
  
  .side-bar__icon-1 > div:nth-of-type(2) {
    top: 40%;
    transform-origin:bottom left;
  }
  
  .side-bar__icon-1 > div:nth-of-type(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin:bottom right;
  }
  
  /* 모든 메뉴의 a에 속성값 부여 */
  .side-bar ul > li > a {
    display: block;
    color: #828B9D;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    transition: .5s;
  }

  
  /* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
  .side-bar > ul > li {
    position: relative;
  }
 
  /* 사이드바 끝 */
  
  /* 커스텀 끝 */

  /* 노멀라이즈 시작 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;   /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
  }
  a {
    color: inherit;   /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
  }
  /* 노멀라이즈 끝 */
  
  /* 커스텀 시작 */
  .side-bar > ul ul {
    display: none;
  }
  /* 사이드바 시작 */
  /* 사이드바의 너비와 높이를 변수를 통해 통제 */
  
  /* 아이콘 끝 */
 
  /* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
  .side-bar > ul > li {
    position: relative;
  }
  /* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
  .side-bar {
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);
    transition: .5s;
  }

  /* 사이드바 끝 */
  /* 커스텀 끝 */
  /*--------------------------------------------------------------------*/

  /* 노멀라이즈 시작 */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;   /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}
a {
  color: inherit;   /* 부모 엘리먼트의 값을 물려받는다 */
  text-decoration: none;    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}
/* 노멀라이즈 끝 */

/* 커스텀 시작 */
.side-bar > ul ul {
  display: none;
}
/* 사이드바 시작 */
/* 사이드바의 너비와 높이를 변수를 통해 통제 */


/* 아이콘 시작 */
.side-bar__icon-box {
  display: flex;
  justify-content: flex-end;
}
.side-bar__icon-1 {
  position: relative;
  width: 23px;
  height: 17px;
  margin: 15px;
  margin-top: 20px;
  transition: .5s;
}
:root {
  --side-bar__icon: .5s;
}
.side-bar__icon-1 > div {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color:#f7f7f7;
  transition: all var(--side-bar__icon);
}
.side-bar__icon-1 > div:nth-of-type(1) {
  top: 0;
  width: auto;
  left: 0;
  right: 0;
  transition: all var(--side-bar__icon), left calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), right calc(var(--side-bar__icon) / 2) calc(var(--side-bar__icon) / 2), height calc(var(--side-bar__icon) / 2) 0s;
}
.side-bar__icon-1 > div:nth-of-type(2) {
  top: 40%;
  transform-origin:bottom left;
}
.side-bar__icon-1 > div:nth-of-type(3) {
  top: 80%;
  left: auto;
  right: 0;
  transform-origin:bottom right;
}

/* 아이콘 끝 */

/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.side-bar > ul > li {
  position: relative;
}
/* 모든 메뉴가 마우스 인식 시 반응 */
.side-bar ul > li:hover > a {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ffffff;

}
/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.side-bar > ul > li:hover > ul {
  display: block;
  position: absolute;
  background-color: #F4F7FD;
  top: 0;         /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
  bottom: 100%;     /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
  width: 100%;    /* 1차 메뉴의 너비를 상속 */
}
/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
.side-bar {
  transform: translate(calc(var(--side-bar-width) * -0.8), 0);
  transition: .5s;
}


/* 사이드 바 고정 */
.side-bar{
  transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 숨겨주기 */
}
/* 사이드바 끝 */
/* 커스텀 끝 */
/*--------------------------------------------------------------------*/