/* 전체영역 */
#wrap{
    width: 1263px;
    height: 120vh;
    position: absolute;
    top: 65px;
    left: 255px;
    display: grid;
    grid-template-rows: 80px 150px 50px 836px 80px;
}

/* 건의사항 */
#suggestion{
    margin-top: 40px;
    margin-left: 320px;
}

#suggestion>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

/* 게시글주소, 공개설정박스 */
#topArea{
    width: 1260px;
    height: 100px;
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-left: 325px;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 5px 0px #4876EF inset;
    display: grid;
    grid-template-rows: 30px 30px;
}

#topArea>div{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#topArea>div:first-child{margin-top: 30px;}
#topArea>div:first-child>a:first-child, #topArea>div:nth-child(2)>a:first-child{
    color: #B9B9B9;
    font-size: 11px;
}
#topArea>div:nth-child(2){margin-top: 40px;}
#topArea>div:nth-child(2)>a, #topArea>div:first-child>a{color: #515151;}
#topArea>div:nth-child(2)>a:nth-child(2), #topArea>div:first-child>a:nth-child(2){margin-left: 10px;}
#topArea>div:nth-child(2)>a:nth-child(3), #topArea>div:first-child>a:nth-child(3){margin-left: 5px;}

/* 내용영역 */
#contentArea{
    width: 1260px;
    height: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-left: 325px;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 70px 110px 300px 300px;
}

#title{
    color: #676767;
    font-size: 22px;
    font-weight: 600;
}

#title>div{
    margin-top: 50px;
    margin-left: 50px;
}

#info{
    color: #515151;
    margin-left: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 90px 160px;
}

#info>div:nth-child(2){
    color: #6f6f6f;
    font-weight: 300;
}

#content a{
    color: black;
    font-size: 18px;
    margin-left: 50px;
}

#content{
    border-bottom: 1px solid #E0E0E0;
    display: grid;
    grid-template-rows: 250px 50px;
    width: 1260px;
}

#contentDetail{
    display: grid;
    grid-template-columns: 100px 30px 100px;
    margin-left: 50px;
    width: 1260px;
}

#contentDetail>div:first-child{
    margin-top: 9px;
}

#contentDetail>div:first-child>a{
    margin-left: 10px;
    margin-bottom: 10px;
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 400;
}

#contentDetail>div:nth-child(2){
    margin-top: 12px;
    color: #c2c2c2c1;
    margin-left: 7px;
    font-size: 14px;
}

#contentDetail>div:nth-child(3){
    margin-top: 11px;
    color: #6f6f6f;
}

/* 댓글작성영역 */
#commentArea{
    display: grid;
    grid-template-columns: 70px 1000px;
    margin-left: 50px;
    margin-top: 25px;
}

#commentArea #commentZone{
    width: 1080px;
    height: 144px;
    border: 1px solid #E0E0E0;
    margin-right: 45px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

#commentArea #commentZone input[type='text']{
    width: 1050px;
    height: 50px;
    border: none;
    margin-left: 20px;
}

input:focus {outline: none;}

input[type='submit']{
    background: none;
    color:#00CBA4;
    width: 50px;
    height: 30px;
    border: none;
}

input[type='text']::placeholder{
    color: #B9B9B9;
}

#commentZone>div:nth-child(2){
   margin-left: 1000px;
}

/* 댓글영역 */
#commentOk{
    margin-left: 50px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70px 130px 680px 120px 140px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#commentOk>div{
    display: flex;
    align-items: center;
    margin-top: 7px;
}

#userNameLink:hover{
    cursor: pointer;
    color: #00CBA4;
}

#commentOk #userName{
    font-weight: 400;
    font-size: 17px;
}

#commentOk #date{
    color: #949494;
    font-weight: 300;
    font-size: 14px;
}

#commentOk #deleteArea{
    margin-left: 75px;
}

#noComment{
    width: 1260px;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noComment a{
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

/* 목록으로 */
#btnArea button{
    width: 160px;
    height: 37px;
    color: white;
    border-radius: 10px;
    font-weight: 300;
    background-color: #5189FA;
    border: none;
}

#btn02{
    width: 1060px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* 새글쓰기, 수정, 복사, 삭제 */
#iconArea{
    display: grid;
    grid-template-columns: 75px 70px 200px;
    margin-left: 337px;
    margin-top: 10px;
}

#iconArea>div:first-child img, #iconArea>div:nth-child(2) img{
    margin-top: 2px;
}

#iconArea>div:first-child>a, #iconArea>div:nth-child(2)>a, #iconArea>div:nth-child(3)>a, #iconArea>div:nth-child(4)>a{
    margin-left: 4px;
}

#iconArea>div:nth-child(3){
    margin-left: 8px;
}

button{
    background: none;
    border: none;
}