main {
	display: flex;
}

.wrap {
    width: 1650px;
    height: 905px;
}

.page-header {
    width: 100%;
    height: 55px;

    display: flex;
    align-items: center;
}

.page-title {
    width: 150px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.page-main {
    width: 1650px;
    height: 850px;

    display: flex;
    justify-content: space-evenly;
}

/* 조직도 왼쪽(검색 + 리스트) */
.addressbook-list {
    width: 385px;
    height: 790px;
    border: 2px solid rgb(72, 118, 239);
    border-radius: 5px;
}

/* 검색창 */
.serch-area {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-input-box {
    width: 310px;
    height: 40px;

    border: 1px solid rgb(53, 54, 54);
    border-radius: 30px;
}

.serach-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px;
}

.search-btn-icon {
    width: 24px;
    height: 24px;
}

/* 조직도 */
.list-tree-area {
    width: 100%;
    height: 720px;
}

.extends-list { 
    height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);

    border: 0px;
    background-color: transparent;

    cursor: pointer;
}

.extend-btn-icon {
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4876EF;

    border-radius: 5px;
    box-sizing: border-box;
}

.link-line {
    margin-left: 8px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}
.name-rank {
    display: flex;
    align-items: center;
    gap: 10px;
    
    cursor: pointer;
}
.user-no {
    display: none;
}
.user-name {
    font-size: 17px;
    font-weight: 700;
    color: rgb(53, 54, 54);
}
.user-rank {
    font-size: 15px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.list-box-area {
    margin-left: 45px;

    border-left: 1px solid rgb(53, 54, 54);
    box-sizing: border-box;

    display: none;
}
.list-box-area-extend {
    display: block;
}

.first-box {
    margin-left: 0px;
    border: 0px;
}

.second-layer {
    margin-left: 30px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.third-layer {
    margin-left: 30px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.fourth-layer {
    margin-left: 30px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.fifth-layer {
    margin-left: 30px;

    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 17px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}


/* 조직도 오른쪽 (상세 정보) */
.addressbook-detail {
    width: 1165px;
    height: 790px;
    border: 2px solid rgb(72, 118, 239);
    border-radius: 5px;
}

.detail-header {
    width: 1135px;
    height: 70px;

    display: flex;
    justify-content: space-between;
}

.detail-title {
    width: 150px;

    font-size: 20px;
    font-weight: 700;
    text-align: center;

    align-self: center;
}

.send-mail-shortcuts {
    width: 115px;
    height: 30px;

    font-size: 13;
    font-weight: 400;
    color: rgb(255, 255, 255);

    background-color: rgb(72, 118, 239);
    border: 0px;
    border-radius: 5px;

    align-self: last baseline;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.detail-table-area {
    width: 1135px;
    height: 720px;

    margin: auto;

    display: flex;
}

.profile-area {
    width: 145px;
    height: 176px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border : 1px solid #D7D7D7;
}

.detail-profile-img {
    width: 126px;
    height: 150px;
}

/* 상세내용 표 */
.detail-table {
    width: 990px;
    height: 176px;

    margin-top: 20px;

    border : 1px solid #D7D7D7;
}

table, td, th {
    border : 1px solid #D7D7D7;
    border-collapse : collapse;
 }

.header-cell {
    width: 155px;
    height: 44px;

    font-size: 16px;
    font-weight: 400;

    background-color: rgb(215, 215, 215);
}

.data-cell {
    width: 242px;
    height: 44px;

    padding-left: 15px;

    font-size: 14px;
    font-weight: 400;
    
    vertical-align: middle;
}

.center-align-cell {
    text-align: center;
    vertical-align: middle;
}