main {
	display: flex;
}

.wrap {
    width: 1650px;
    height: 100%;
    
    display: flex;
}

.wrap-header {
    width: 1600px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-main {
    width: 1600px;
    height: 840px;
    
    display: flex;
}
.mail-sidebar {
    width: 285px;
    height: 830px;

    border: 2px solid rgb(72, 118, 239);
    border-radius: 10px;
    box-sizing: border-box;
}
.mail-list-area {
     width: 1280px;
     height: 830px;

     border: 2px solid rgb(72, 118, 239);
     border-radius: 10px;
     box-sizing: border-box;
}