.main-wrap {
    width: 1920px;

	display: flex;
}

.wrap {
    width: 1650px;
    height: 100%;
    
    padding-left : 270px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-header {
    width: 1600px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(53, 54, 54);
}

.wrap-main {
    width: 1600px;
    height: 790px;
    
    display: flex;
    justify-content: space-between;
}
.mail-sidebar {
    width: 285px;
    height: 780px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border: 2px solid rgb(72, 118, 239);
    border-radius: 10px;
    box-sizing: border-box;
}

.mail-sidebar-header {
    width: 255px;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid rgb(53, 54, 54);
}
.unread-count {
    font-size: 17px;
    font-weight: 700;
    color: rgb(53, 54, 54);
}
.my-important-btn {
    width: 85px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(53, 54, 54);
    font-size: 17px;
    font-weight: 700;

    background-color: #F4F7FD;
    border: 0px;

    cursor: pointer;
}

.default-folder-list {
    height: 250px;

    display: flex;
    flex-direction: column;
    gap: 17px;
}
.folder-btn {
    width: 255px;
    height: 30px;

    align-self: baseline;
    display: flex;
    gap: 20px;

    line-height: 30px;

    font-size: 16px;
    font-weight: 400;
    color: rgb(53, 54, 54);

    background-color: #F4F7FD;
    border: 0px;
    box-sizing: border-box;
}
.selected-folder-btn {
    color: rgb(72, 118, 239);
}

.custom-list-header {
    width: 255px;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
    color: rgb(53, 54, 54);

    border-bottom: 1px solid rgb(53, 54, 54);
}

.custom-folder-list {
    width: 255px;

    display: flex;
    flex-direction: column;
    gap: 17px;
}
.custom-folder {
    height: 30px;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 15px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.mail-write-area {
     width: 1280px;
     height: 780px;

     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;

     border: 2px solid rgb(72, 118, 239);
     border-radius: 10px;
     box-sizing: border-box;

     overflow-y: scroll;
}
.mail-write-area::-webkit-scrollbar {
    display: none;
  }
.mail-send-form {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.write-area-header {
    width: 1200px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(53, 54, 54);
}
.send-mail-btn {
    width: 115px;
    height: 30px;

    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);

    background-color: rgb(72, 118, 239);
    border: 0px;
    border-radius: 10px;

    cursor: pointer;
}

.mail-setting-area {
    width: 1200px;

     display: flex;
     flex-direction: column;
     gap: 20px;
}

.receiver-setting {
    width: 1100px;

    display: flex;
    align-items: center;
}
.setting-name {
     width: 130px;
     height: 30px;
}
.elems-area {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}
.setting-input-area {
    width: 100%;
    height: 30px;

    border-bottom: 1.5px solid rgb(53, 54, 54);
    border-top: 1px solid rgba(53, 54, 54, 0.5);
    border-left: 1px solid rgba(53, 54, 54, 0.5);
    border-right: 1px solid rgba(53, 54, 54, 0.5);
    box-sizing: border-box;
}

.receivers-area, .cc-area, .bcc-area {
    width: 800px;
    height: 32px;

    display: flex;
    align-items: center;
}

.title-input-area {
    width: 800px;
    height: 30px;

    border-bottom: 1.5px solid rgb(53, 54, 54);
    border-top: 1px solid rgba(53, 54, 54, 0.5);
    border-left: 1px solid rgba(53, 54, 54, 0.5);
    border-right: 1px solid rgba(53, 54, 54, 0.5);
    box-sizing: border-box;
}

.addressbook-btn {
    width: 100px;
    height: 30px;

    margin-left: 30px;

    font-size: 17px;
    font-weight: 700;
    color: rgb(53, 54, 54);

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(53, 54, 54);
    border-radius: 10px;
    box-sizing: border-box;

    cursor: pointer;
}

.attachment-list-area {
    width: 800px;
    height: 90px;

    background-color: rgb(255, 255, 255);
    border-bottom: 1.5px solid rgb(53, 54, 54);
    border-top: 1px solid rgba(53, 54, 54, 0.5);
    border-left: 1px solid rgba(53, 54, 54, 0.5);
    border-right: 1px solid rgba(53, 54, 54, 0.5);
    box-sizing: border-box;

    overflow-y: scroll;
}

.complete-email-box {
    height: 30px;

    padding: 0 5px;
    margin: 0 2px;

    display: flex;
    justify-self: center;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    font-weight: 400;
    color: rgb(53, 54, 54);

    background-color: #F4F7FD;

    border: 2px solid rgb(72, 118, 239);
    border-radius: 15px;
    box-sizing: border-box;
}
.wrong-email-address {
    height: 30px;

    padding: 0 5px;
    margin: 0 2px;

    display: flex;
    justify-self: center;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    font-weight: 400;
    color: rgb(53, 54, 54);

    background-color: rgba(255, 66, 66, 0.7);

    border-radius: 15px;
    box-sizing: border-box;
}

.email-data {
    display: none;
}
.email-data:focus {
    outline: none;
}

.elem-delete-btn {
    cursor: pointer;
}


.attachment-label {
    width: 100px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(53, 54, 54);
    border-radius: 10px;
    box-sizing: border-box;

    cursor: pointer;
}

.add-attachment-input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.attachment-elem {
    height: 24px;

    display: flex;
    align-items: center;
}

.attachment-name {
    height: 20px;

    font-size: 14px;
    font-weight: 400;
    color: rgb(53, 54, 54);
}

.mail-content-area {
    width: 1250px;
    height: 285px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-content {
	width: 1250px;
	height: 285px;
	
	resizeable: none;
}

.folder-add-btn {
    cursor: pointer;
}
.folder-name{
    width: 200px;

    cursor: pointer;
}
.folder-delete-btn{
    justify-self: flex-end;
    cursor: pointer;
}