#wrap{
    width: 1633px;
    height: 120vh;
    position: absolute;
    top: 65px;
    left: 255px;
    display: grid;
    grid-template-rows: 80px 150px 886px 80px;
}

#notice{
    margin-top: 40px;
    margin-left: 80px;
}

#notice>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

#topArea{
    width: 1500px;
    height: 100px;
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-left: 85px;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 5px 0px #4876EF inset;
    display: grid;
    grid-template-rows: 30px 30px;
}

#topArea>div{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#topArea>div:first-child{margin-top: 30px;}
#topArea>div:first-child>a:first-child, #topArea>div:nth-child(2)>a:first-child{
    color: #B9B9B9;
    font-size: 11px;
}
#topArea>div:nth-child(2){margin-top: 40px;}
#topArea>div:nth-child(2)>a, #topArea>div:first-child>a{color: #515151;}
#topArea>div:nth-child(2)>a:nth-child(2), #topArea>div:first-child>a:nth-child(2){margin-left: 10px;}
#topArea>div:nth-child(2)>a:nth-child(3), #topArea>div:first-child>a:nth-child(3){margin-left: 5px;}

#contentArea{
    width: 1500px;
    height: 100%;
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-left: 85px;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 70px 110px 300px 300px;
}

#title{
    color: #676767;
    font-size: 22px;
    font-weight: 600;
}

#title>div{
    margin-top: 50px;
    margin-left: 50px;
}

#info{
    color: #515151;
    margin-left: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 90px 160px;
}

#info>div:nth-child(2){
    color: #6f6f6f;
    font-weight: 300;
}

#content a p{
    color: black;
    font-size: 18px;
    margin-left: 50px;
}

#content a{
    color: black;
    font-size: 18px;
    margin-left: 50px;
}

#content{
    border-bottom: 1px solid #E0E0E0;
    display: grid;
    grid-template-rows: 250px 50px;
}

#contentDetail{
    display: grid;
    grid-template-columns: 100px 30px 100px;
    margin-left: 50px;
}

#contentDetail>div:first-child{
    margin-top: 9px;
}

#contentDetail>div:first-child>a{
    margin-left: 10px;
    margin-bottom: 10px;
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 400;
}

#contentDetail>div:nth-child(2){
    margin-top: 12px;
    color: #c2c2c2c1;
    margin-left: 7px;
    font-size: 14px;
}

#contentDetail>div:nth-child(3){
    margin-top: 11px;
    color: #6f6f6f;
}

#commentArea{
    display: grid;
    grid-template-columns: 70px 1300px;
    margin-left: 50px;
    margin-top: 25px;
}

#commentArea #commentZone{
    width: 1320px;
    height: 144px;
    border: 1px solid #E0E0E0;
    margin-right: 45px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

#commentArea #commentZone input[type='text']{
    width: 1180px;
    height: 50px;
    border: none;
    margin-left: 20px;
}

input:focus {outline: none;}

input[type='submit']{
    background: none;
    color:#00CBA4;
    width: 50px;
    height: 30px;
    border: none;
}

input[type='text']::placeholder{
    color: #B9B9B9;
}

#commentZone>div:nth-child(2){
   margin-left: 1240px;
}

/* 댓글영역 */
#commentOk{
    margin-left: 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 70px 130px 850px 130px 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#commentOk>div{
    display: flex;
    align-items: center;
    margin-top: 7px;
}

#userNameLink:hover{
    cursor: pointer;
    color: #00CBA4;
}

#commentOk #userName{
    font-weight: 400;
    font-size: 17px;
}

#commentOk #reply{
    margin-left: 20px;
}

#commentOk #date{
    color: #949494;
    font-weight: 300;
    font-size: 14px;
}

#commentOk #deleteArea{
    margin-left: 130px;
}

#btnArea button{
    width: 160px;
    height: 37px;
    color: white;
    border-radius: 10px;
    font-weight: 300;
    background-color: #5189FA;
    border: none;
}

#btn02{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button{
    border: none;
    background: none;
}

#noComment{
    width: 1498px;
    height: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noComment a{
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}