@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 사이드바랑 메인 영역 나누기 */

#att_wrap{
    display: grid;
    grid-template-columns: 264px auto;
}

#att_main{
    /* background-color: red; */
    /* height: 922px; */
    margin-top: 15px;
    margin-left: 24px;

    display: grid;
    grid-template-columns: 417px 175px 175px 787px;
    grid-template-rows: 94px 382px 184px 183px;
    gap: 15px;
}

/* 근무현황 영역 나누기----------------------------------------------------*/
#att_main div[class^="att_"]{
    background-color: white;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    
}

/* 첫번째 줄 */
.count1{
    background-color: #00CBA4;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}

.count2{
    background-color: #00BEEA;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}

/* 두번째 줄 */
.att_grap{
    grid-column: 2/5;
}

/* 세번째 줄 */
.att_work{
    grid-column: 2/4;
    grid-row: 3/4;
}

.att_department{
    grid-column: 4/5;
    grid-row: 3/5;
}

/* 네번째 줄 */
.att_my{
    grid-column: 1/4;
}


/* 컨텐츠 채우기----------------------------------------------------*/

/* 첫번째 줄----------------------------------------------------*/
/* 출퇴근 체크*/
.att_check{
    position: relative;
}

.att_check p:first-child{
    color: #96A0B5;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.8%;

    padding-top: 25px;
    padding-left: 27px;
}

.att_check p:nth-child(2){
    color: #3A3A3A;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%;
    letter-spacing: 2.7px;

    padding-left: 26px;
}

.att_check button[name="check-first"] {
    width: 116px;
    height: 30px;

    border-radius: 5px;
    border: 1.5px solid #5189FA;
    background: #EFF5FF;

    color: #4876EF;
    font-family: Spoqa Han Sans Neo;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%;
    letter-spacing: 0.65px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    position: absolute;
    left: 137px;
    top: 48px;
}

.att_check button[name="check-second"] {
    width: 116px;
    height: 30px;

    border-radius: 5px;
    border: 1.5px solid #00CBA4;
    background: #EFF5FF;

    color: #00CBA4;
    font-family: Spoqa Han Sans Neo;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%;
    letter-spacing: 0.65px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: absolute;
    right: 27px;
    top: 48px;
}

.att_check button[name="check-first"]:hover{
    border: 2px solid #5189FA;
}

.att_check button[name="check-second"]:hover {
    border: 2px solid #00CBA4;
}

/* 휴가 현황 */
.count1{
    position: relative;
}

.count-flex{
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 13px;
    padding-left: 15px;
}

.count1 p:first-child{
    color: #F1F1F1;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
    letter-spacing: 0.6px;
}

.count1 p:nth-child(2){
    color: #EFF5FF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%;

    padding-left: 15px;
}

.count1 > a{
    position: absolute;
    bottom: 9px;
    right: 13px;
}

/* 연차 현황 */
.count2{
    position: relative;
}

.count-flex2{
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 13px;
    padding-left: 15px;
}

.count2 p:first-child{
    color: #F1F1F1;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
    letter-spacing: 0.6px;
}

.count2 p:nth-child(2){
    color: #EFF5FF;
    font-family: Spoqa Han Sans Neo;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%;

    padding-left: 15px;
}

.count2 > a{
    position: absolute;
    bottom: 9px;
    right: 13px;
}

/* 총 근무일수 그래프 */
.att_total{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.total-title > p:first-child{
    color: #A4A4A4;
    font-family: Spoqa Han Sans Neo;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
    letter-spacing: 0.88px;

    padding-left: 25px;
    padding-top: 21px;
}

.total-title-flex{
    display: flex;
    padding-left: 22px;
    align-items: baseline;
    gap: 6px;
}

.total-title-flex > p:first-child{
    color: #474747;
    font-family: Spoqa Han Sans Neo;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.total-title-flex > p:nth-child(2){
    color: #A4A4A4;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
    letter-spacing: 0.96px;
}

/* 두번째 줄----------------------------------------------------*/

/* 세번째 줄----------------------------------------------------*/
/* 휴가 요청 현황 */
.leave-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 12px;
    margin-right: 34px;
    margin-bottom: 9px;
}

.leave-flex > a > svg{
    border-radius: 2px;
    background: #00CBA4;
}

.leave-flex > p{
    color: #5A5A5A;
    font-family: Spoqa Han Sans Neo;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
}

.att_leave > hr{
    width: 387px;
    background: #a8a8a8;
    margin: 0.5rem 0 1rem 12px;
}

.att_leave > table > tbody > tr{
    color: #7B7B7B;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.8%;
    letter-spacing: 0.6px;
}

/* 연차 요청 현황 */
.work-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 12px;
    margin-right: 34px;
    margin-bottom: 9px;
}

.work-flex > a > svg{
    border-radius: 2px;
    background: #5189FA;
}

.work-flex > p{
    color: #5A5A5A;
    font-family: Spoqa Han Sans Neo;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
}

.att_work > hr{
    width: 337px;
    background: #a8a8a8;
    margin: 0.5rem 0 1rem 12px;
}

.att_work > table > tbody > tr{
    color: #7B7B7B;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.8%;
    letter-spacing: 0.6px;
}

/* 네번째 줄----------------------------------------------------*/
/* 내 출결 현황 */
.att_my > p{
    color: #474747;
    font-family: Spoqa Han Sans Neo;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 152.8%;
    letter-spacing: 0.34px;

    margin-left: 31px;
    margin-top: 15px;
}

.att_my > hr{
    width: 769px;
    background: #a8a8a8;
    margin: 0.5rem 0 0.7rem 12px;
}

.att_my > table > tbody > tr{
    color: #868686;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
    letter-spacing: 0.24px;
}

.att_my > table > tbody{
    margin-left: 5px;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 1.3rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}