/* 사이드바랑 메인 영역 나누기 */
#att_wrap{
    display: grid;
    grid-template-columns: 264px auto;
}

#obj_main{
    /* background-color: red; */
    /* height: 922px; */
    width: 90%;
    margin: 0 auto;
    /* margin-top: 15px; */
    /* margin-left: 24px; */

    display: grid;
    grid-template-rows: 100px 46px 621px;
    gap: 15px;
    margin-top: 50px;
}


/* 컨텐츠 채우기----------------------------------------------------*/

/* 건수 표시 */
.obj_count{
    display: flex;
    align-items: flex-start;
    position: relative;
}

.obj_count > p:first-child{
    border-radius: 16px;
    background: #5189FA;

    width: 136px;
    height: 32px;
    flex-shrink: 0;

    color: #EFF5FF;
    font-family: Spoqa Han Sans Neo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;

    padding-left: 10px;
    padding-top: 5px;
}

.obj_count > svg{
    position: absolute;
    left: 106px;
}

.obj_count > p:last-child{
    position: absolute;
    left: 110px;

    color: #5189FA;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.8%; /* 22.92px */
}

/* 검색바 영역 */
.obj_search{
    display: grid;
    grid-template-columns: 0.7fr 4fr 1.5fr;
    align-items: end;
}

.search-area{
    width: 353px;
    height: 46px;
    flex-shrink: 0;

    border-radius: 5px;
    border: 1px solid #F1F1F1;
    background: #FFF;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    
}

.search-area > p:first-child{
    color: #8C8C8C;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%; /* 22.92px */

    padding-left: 14px;
}

.search-flex{
    display: flex;
    position: relative;
    gap: 9px;
    justify-content: flex-end;
}

.search-input > input{
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    background: #FFF;

    color: #3a3a3a;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;

    width: 213px;
    height: 26px;
    flex-shrink: 0;
}

.search-input > input::placeholder{
    color: #B0B0B0;
    padding-left: 5px;
    font-weight: 300;
}

.search-input > svg{
    position: absolute;
    right: 8px;
    top: 5px;
}

.form-select {
    height: 26px;
}

.form-select-sm {
    color: #5F5F5F;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.8%;
    
    padding-top: 0.2rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}

/* 목록 조회 테이블 */
.obj_table{
    border-radius: 5px;
    border: 1px solid #F1F1F1;
    background: #FFF;
}