/* 전체 */
#wrap{
    width: 1663px;
    height: 93vh;
    position: absolute;
    top: 65px;
    left: 255px;
}

#enroll{
    margin-top: 40px;
    margin-left: 80px;
}

#enroll>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

/* 뒷배경 */
#back{
    width: 1500px;
    height: 700px;
    background-color: white;
    margin-left: 80px;
    margin-top: 30px;
    border: 1px solid #d7d7d7ba;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 60px 70px 570px;
}

#back div:first-child{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    height: 30px;
    margin-top: 30px;
}

#back div:first-child select{
    width: 200px;
    margin-right: 10px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
}

#back div:first-child input[type="text"]{
    width: 250px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
}

#back div:first-child input[type="submit"]{
    background-image: url("/zoody/resources/img/icon/png/search.png");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border: 0px;   
    position: absolute;
    cursor:pointer;
    outline: 0;
    right: 100px;
    top: 128px;
}

#back div:first-child input[type="text"]::placeholder{
    color: #D7D7D7;
    font-size: 15px;
    font-weight: 300;
}

/* 내용영역 */
.content{
    width: 1500px;
    height: 60px;
    border-top: 1px solid #D7D7D7;
    color: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .table td{
    text-align: center;
    height: 67px;
    vertical-align: middle;
}

.table{
    border-top: 1px solid #D7D7D7;
    margin-top: 30px;
}

.table > thead{
    border-top: 2px solid #4876EF;
}

.table > tbody{
    border-top: 2px solid #4876EF;
}

/* 페이지영역 */
#page{
    width: 1500px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
}

#page a{
    margin-right: 20px;
    text-decoration: none;
    color: #4B4B4B;
    font-size: 18px;
}

#page>a img{
    width: 17px;
    height: 17px;
}

table tbody tr:hover{
    background-color: #4876EF;
    color: white;
    cursor: pointer;
}

#firstDiv>a{
    width: 970px;
    font-size: 18px;
    color: #4B4B4B;
}

#newEmployee{
    margin-left: 70px;
    display: flex;
    align-items: end;
}

#newEmployee>a{
    text-decoration: none;
    color: #4B4B4B;
    font-weight: 600;
    font-size: 17px;
    margin-left: 10px;
}

.searchNoResult>td{
    font-size: 20px;
}

button[class='active']{
    background-color: #4876EF;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 25px;
    height: 25px;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button[class='nomalBtn']{
    border: none;
    color: #313131;
    font-family: Spoqa Han Sans Neo;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 25px;
    height: 25px;
}
