#wrap{
    width: 1633px;
    height: 93vh;
    position: absolute;
    top: 65px;
    left: 255px;
    display: grid;
    grid-template-rows: 80px 100px 15px 60px 100px 100px 700px 80px 80px;
}

#suggestionWrite{
    margin-top: 40px;
    margin-left: 80px;
}

#suggestionWrite>a:first-child{
    font-size: 20px;
    font-weight: 600;
}

#selectArea{
    margin-left: 80px;
    margin-top: 70px;
}

#selectArea>a{
    font-weight: bolder;
    font-size: 18px;
    color: #808080;
}

#selectArea>#selectOne{
    width: 230px;
    background-color: white;
    border-radius: 7px;
}

#selectArea>#selectTwo{
    width: 210px;
    background-color: white;
    border-radius: 7px;
}

#hr01>hr{
    width: 1647px;
    border: 1px solid #808080ae;
}